//颜色变量
$c-red:#eb6100;
$c-blue:#2ebbe6;
$c-purple:#8957a1;
$c-green:#8fc31f;

//函数
@function rem($px){
  @return $px/50 + rem;
}
@function px($px){
  @return $px/2 + px;
}

.top{
  position:relative;padding:rem(21) rem(30);background-color:$c-blue;text-align:center;vertical-align:middle;
  img{display:block;width:rem(138);margin:0 auto;}
  .arrow-right{position:absolute;right:rem(30);top:rem(15);width:rem(32);}
  .arrow-left{position:absolute;left:rem(30);top:rem(15);width:rem(32);transform:rotateY(180deg)}
}
//顶部导航
.nav{
  padding:rem(15);border-bottom:1px solid #ddd;
  ul{
    li{
      float:left;width:25%;
      a{
        display:block;width:80%;height:px(50);margin:0 auto;line-height:px(50);font-size:px(26);color:#666;background-color:rgba(0,0,0,0);border-radius:px(25);text-align:center;
        &:hover,&.active{color:#fff;background-color:$c-blue;}
      }
      @media screen and (min-width: 320px){
        a{
          display:block;width:90%;height:px(50);margin:0 auto;line-height:px(50);font-size:px(24);color:#666;background-color:rgba(0,0,0,0);border-radius:px(25);text-align:center;
          &:hover,&.active{color:#fff;background-color:$c-blue;}
        }
      }
    }
  }
}

.data-card{
  padding:rem(8);background-color:#fff;
  .card{
    background-color:$c-red;border-radius:rem(10);transition:background-color 300ms;
    &.red{background-color:$c-red;}
    &.blue{background-color:$c-blue;}
    &.purple{background-color:$c-purple;}
    &.green{background-color:$c-green;}
    h1{
      color:#fff;font-size:px(110);padding:rem(12) 0;text-align:center;
      .sm{font-size:px(26);}
      &:after{content:"亿";font-size:px(26);}
    }
    .line{
      border-bottom:1px solid #fff;
      em{
        display:block;width:rem(8);height:rem(17);margin-top:rem(-8.5);background-color:#fff;
        &.l{float:left;border-radius:0 rem(9) rem(9) 0;}
        &.r{float:right;border-radius: rem(9) 0 0 rem(9)}
      }
    }
    .data{
      padding:rem(30);box-sizing:content-box;
      p{float:left;width:33.3333333333333%;color:#fff;font-size:px(24);text-align:center;}
    }
  }
}

.chart-wrap{
  &>h3{padding-left:rem(32);border-top:1px solid #ddd;border-bottom:1px solid #ddd;background-color:#f5f5f5;line-height:rem(62);font-size:px(26);}
  .chart-box{
    height:rem(468);background-color:#fff;
    &.bar{height:rem(468);}
    &.pie{height:rem(822);}
  }
  .chart-data{
    position:relative;border-top:1px solid #ddd;padding:rem(50) rem(30) rem(20);
    &>em{position:absolute;top:px(-10);left:50%;display:block;width:px(14);height:px(14);margin-left:px(-5);border-top:1px solid #ddd;border-left:1px solid #ddd;background-color:#fafafa;transform:rotateZ(45deg);}
    &>p{line-height:px(40);font-size:px(26);text-align:center;}
    &>h3{
      font-size:px(36);text-align:center;
      &.blue{color:$c-blue;}
      &.purple{color:$c-purple;}
    }
  }
  .daqu-chose{
    padding-top:rem(80);padding-bottom:rem(40);text-align:center;
    .daqu-sel{
      padding-bottom:px(65);
      select{
        display:inline-block;padding:0 rem(43);background-color:#2ebbe6;color:#fff;line-height:rem(60);font-size:px(24);border:0 none;-webkit-appearance:none;border-radius:px(10);vertical-align:top;
      }
    }
    &>h3{font-size:px(24);font-weight:400;}
    p{
      font-size:px(60);padding-bottom:px(30);
      &.money{
        color:$c-blue;
        &:after{content:"万元";font-size:px(24);}
      }
      &.dingdan{
        color:$c-red;
        &:after{content:"单";font-size:px(24);}
      }
    }
  }
}

.chart-wrap-s{
  border-bottom:1px solid #ddd;background-color:#fff;height:px(530);
  .chart-box{float:left;height:100%;width:68%;}
  .chart-data{
    position:relative;float:right;border-left:1px solid #ddd;height:100%;width:32%;padding-top:rem(85);padding-left:rem(30);background-color:#fafafa;
    .arrow-left{position:absolute;top:50%;left:px(-10);display:block;width:px(14);height:px(14);margin-top:px(-7);border-top:1px solid #ddd;border-left:1px solid #ddd;background-color:#fafafa;transform:rotateZ(-45deg);}
    &>h3{
      font-size:px(36);
      &.red{color:$c-red;}
      &.blue{color:$c-blue;}
    }
    p{line-height:px(42);font-size:px(24);}
  }
}

.daqu-top{
  padding-top:rem(33);padding-bottom:rem(26);border-bottom:1px solid #ddd;background-color:#fafafa;
  .daqu-data{
    width:50%;padding-left:rem(50);
    h3{color:#666;font-size:px(30);padding-bottom:px(16)}
    ul{
      li{
        color:$c-blue;font-size:px(26);padding:px(4) 0;
        span{
          display:inline-block;
          &:first-child{width:px(148)}
        }
        &:first-child{color:$c-red;}
        &:last-child{color:$c-purple;}
      }
    }
  }
}

.table-wrap{
  table{
    width:100%;table-layout:fixed;
    th{
      color:#999;font-size:px(26);padding:px(25) 0;background-color:#fafafa;border-bottom:1px solid #f0f0f0;border-right:1px solid #f0f0f0;
      &:last-child{border-right:0 none;}
    }
    td{
      padding:px(43) 0;border-bottom:1px solid #f0f0f0;border-right:1px solid #f0f0f0;background-color:#fff;font-size:px(24);text-align:center;
      &:last-child{border-right:0 none;}
    }
  }
}