<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>
    <link rel="stylesheet" href="css/index.main.css"/>
    <link rel="stylesheet" href="css/index.workbench.lj.css"/>
    <link rel="stylesheet" href="css/index-r-table.css"/>
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"/>
    <link rel="stylesheet" href="css/jquery.gridster.min.css"/>
    <link rel="stylesheet" href="css/index-yellow.css"/>
</head>
<body>
<div class="min1360">
    <!--顶部区域-->
    <div class="top clearfix">
        <div class="logo">
            <em></em>
        </div>
        <div class="title">
            刘冰冰的工作平台
        </div>
        <div class="sw-btn">
            切换工作斯蒂芬似懂非懂<em></em>
            <ul>
                <li>
                    <a href="javascript:">核算经理</a>
                </li>
                <li>
                    <a href="javascript:">项目经理</a>
                </li>
            </ul>
        </div>
        <div class="r-tools clearfix">
            <a href="javascript:;" class="theme"></a>
            <a href="javascript:;" class="msg" style="display:none">
                <em>23</em>
            </a>
            <div class="head-btn">
                <img src="temp/head.jpg" alt="头像"/>刘冰冰<em></em>
                <ul>
                    <li>
                        <a href="javascript:">退出</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main clearfix">
        <!--左侧菜单栏-->
        <div class="l-nav">
            <!--导航栏-->
            <div class="nav-wrap mCustomScrollbar" data-mcs-theme="dark">
                <ul>
                    <li>
                        <a class="on" href="javascript:">
                            <em class="one"></em>
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.suning.com">
                            <em class="two"></em>
                            <span>数据分析与监控第三方的身份斯蒂芬</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="three"></em>
                            <span>数据分析与监控</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="four"></em>
                            <span>数据分析与监控</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="five"></em>
                            <span>数据分析与监控</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="six"></em>
                            <span>数据分析与监控</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:">
                            <em class="seven"></em>
                            <span>数据分析与监控</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="editor-wrap mCustomScrollbar"   data-mcs-theme="dark">
                <h1>添加模块 <a class="c-btn" href="javascript:"></a></h1>
                <dl>
                    <dt>通用</dt>
                    <dd class="clearfix">
                        <a class="widget" title="学习成长" href="javascript:" type_id="xxcz" wid_id="xxcz">
                            <img class="xuexi" src="images/leftbar-pic/01_1.png" width="24" height="24">
                            <img class="xuexi sec-img" src="images/leftbar-pic/01_2.png" width="24" height="24">
                            <p>学习成长</p>
                            <i></i>
                        </a>
                        <a class="widget" title="我的待办" href="javascript:" type_id="wddb" wid_id="wddb">
                            <img class="daiban" src="images/leftbar-pic/02_1.png" width="24" height="24">
                            <img class="daiban sec-img" src="images/leftbar-pic/02_2.png" width="24" height="24">
                            <p>我的待办</p>
                            <i></i>
                        </a>
                        <a class="widget" title="我的待阅" href="javascript:" type_id="wddb" wid_id="wddy">
                            <img class="daiyue" src="images/leftbar-pic/03_1.png" width="24" height="24">
                            <img class="daiyue sec-img" src="images/leftbar-pic/03_2.png" width="24" height="24">
                            <p>我的待阅</p>
                            <i></i>
                        </a>
                        <a  class="widget" title="通知公告" href="javascript:" type_id="wddb" wid_id="tzgg">
                            <img class="tongzhi" src="images/leftbar-pic/04_1.png" width="24" height="24">
                            <img class="tongzhi sec-img" src="images/leftbar-pic/04_2.png" width="24" height="24">
                            <p>通知公告</p>
                            <i></i>
                        </a>
                        <a  class="widget" title="发文公告" href="javascript:" type_id="wddb" wid_id="fwgg">
                            <img class="fawen" src="images/leftbar-pic/05_1.png" width="24" height="24">
                            <img class="fawen sec-img" src="images/leftbar-pic/05_2.png" width="24" height="24">
                            <p>发文公告</p>
                            <i></i>
                        </a>
                    </dd>
                    <dt>专业</dt>
                    <dd class="clearfix">
                        <a class="widget" href="javascript:" type_id="kmtj" wid_id="zdkmjk" title="重点科目监控" >
                            <img src="images/leftbar-pic/06_1.png" class="fenxi" width="24" height="24">
                            <img src="images/leftbar-pic/06_2.png" class="fenxi sec-img" width="24" height="24">
                            <p>重点科目监控</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="kmtj" wid_id="kmwqje" title="科目未清金额前10大区" >
                            <img src="images/leftbar-pic/07_1.png" class="kemu" width="24" height="24">
                            <img src="images/leftbar-pic/07_2.png" class="kemu sec-img" width="24" height="24">
                            <p>科目未清金额</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="rwtj" wid_id="rwtj" title="任务统计" >
                            <img src="images/leftbar-pic/08_1.png" class="tongji" width="24" height="24">
                            <img src="images/leftbar-pic/08_2.png" class="tongji sec-img" width="24" height="24">
                            <p>任务统计</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="dbrw" wid_id="dbrw" title="待办任务" >
                            <img src="images/leftbar-pic/09_1.png" class="renwu" width="24" height="24">
                            <img src="images/leftbar-pic/09_2.png" class="renwu sec-img" width="24" height="24">
                            <p>待办任务</p>
                            <i></i>
                        </a>
                    </dd>
                    <dt>办公自动</dt>
                    <dd class="clearfix">
                        <a class="widget" href="javascript:" type_id="cycd" wid_id="cycd" title="常用菜单">
                            <img src="images/leftbar-pic/10_1.png" class="caidan" width="24" height="24">
                            <img src="images/leftbar-pic/10_2.png" class="caidan sec-img" width="24" height="24">
                            <p>常用菜单</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="cyxt" wid_id="cyxt" title="常用系统">
                            <img src="images/leftbar-pic/11_1.png" class="xitong" width="24" height="24">
                            <img src="images/leftbar-pic/11_2.png" class="xitong sec-img" width="24" height="24">
                            <p>常用系统</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="rssh" wid_id="jcrs" title="基础人事">
                            <img src="images/leftbar-pic/12_1.png" class="renshi" width="24" height="24">
                            <img src="images/leftbar-pic/12_2.png" class="renshi sec-img" width="24" height="24">
                            <p>基础人事</p>
                            <i></i>
                        </a>
                        <a class="widget" href="javascript:" type_id="rssh" wid_id="ygsh" title="员工生活">
                            <img src="images/leftbar-pic/13_1.png" class="shenghuo" width="24" height="24">
                            <img src="images/leftbar-pic/13_2.png" class="shenghuo sec-img" width="24" height="24" >
                            <p>员工生活</p>
                            <i></i>
                        </a>
                    </dd>
                </dl>
            </div>
            <!--底部工具栏-->
            <div class="l-tools-bottom">
                <a class="tools-btn" href="javascript:void(0);" title="编辑模式"><em></em></a>
                <a class="review-btn active" href="javascript:void(0);" title="预览"><em></em></a>
                <a class="save-btn" href="javascript:void(0);" title="保存"><em></em></a>
                <a style="/*display:none*/" class="fold-btn collapse-btn" href="javascript:void(0);"><em></em></a>
            </div>
        </div>
        <!--右侧内容区域-->
        <div class="r-mn">
			<div class="r-container scroll-c gridster">
                <ul class="mods-contain">
                </ul>
                <div class="copyrights pd-layout2">
                    苏宁云商集团股份有限公司  SUNING COMMERCE GROUP CO., LTD.
                </div>
            </div>
        </div>
    </div>
</div>
<!--右下角消息提示-->
<!--<div class="info-tips-alert">
    <div class="close">
        我知道了 <a href="javascript:;" onclick="this.offsetParent.style.display='none'"></a>
    </div>
    <div class="context active">
        <h3>任务超期提醒1：</h3>
        <p>某某任务已超期 <span class="red-color">3</span>天，请及时处理。某某任务已超期<span class="red-color">3</span>天请及时处理。</p>
        <p class="text-right gray6">2015年8月7日 12:00:00</p>
    </div>
    <div class="context">
        <h3>任务超期提醒2：</h3>
        <p>某某任务已超期 <span class="red-color">2</span>天，请及时处理。某某任务已超期<span class="red-color">3</span>天请及时处理。</p>
        <p class="text-right gray6">2015年8月7日 12:00:00</p>
    </div>
    <div class="context">
        <h3>任务超期提醒3：</h3>
        <p>某某任务已超期 <span class="red-color">1</span>天，请及时处理。某某任务已超期<span class="red-color">3</span>天请及时处理。</p>
        <p class="text-right gray6">2015年8月7日 12:00:00</p>
    </div>
    <div class="bottom">
        <span class="page-count">
            <em class="red-color">1</em>/3
        </span>
        <div class="btn-handler">
            <a href="javascript:;" class="prev"></a>

            <a href="javascript:;" class="next"></a>
        </div>

    </div>
</div>-->

<!--常用菜单-->
<script id="usual-menu" type="text/html" class="template">
    <div class="usual-menu custom-com">
        <div class="ul-wrap">

			<% _.each(list, function(i,index,lst) { %>
                <% if( index==0){ %>
                    <ul class="clearfix" style="display: block">
                <% } %>
                        <li>
                            <a title="<%= i.title %>" class="con of" href="<%= i.href %>" target="_blank">
                                <span><%= i.title %></span>
                            </a>
                        </li>

                <%if ( (index+1 )% 6 == 0 && (index+1 )!= lst.length &&index!=0){ %>


                    </ul>
                    <ul class="clearfix">
                <% } %>
                <% if ((index+1 )==lst.length){ %>
                        <li>
                        <a class="add" href="javascript:;" title="添加">
                            <span></span>
                        </a>
                    </li>
                    </ul>
                <% } %>

            <% }); %>
            <% if(list.length ==0) {%>
            <ul class="clearfix" style="display: block">
                <li>
                    <a class="add" href="javascript:;" title="添加">
                        <span></span>
                    </a>
                </li>
            </ul>
            <% }%>
        </div>
        <% if(list.length>6){ %>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
        <% } %>
    </div>
</script>
<script id="hr-life" type="text/html" class="template">
    <div class="basic-hr custom-com hr-life">
        <div class="ul-wrap">
            <% _.each(list, function(i,index,lst) { %>
            <% if( index==0){ %>
            <ul class="clearfix" style="display: block">
                <% } %>
                <li>
                    <a title="<%= i.title %>" class="con of" href="<%= i.href %>" target="_blank">
                        <span><%= i.title %></span>
                    </a>
                </li>

                <%if ( (index+1 )% 6 == 0 && (index+1 )!= lst.length &&index!=0){ %>


            </ul>
            <ul class="clearfix">
                <% } %>
                <% if ((index+1 )==lst.length){ %>
                <li>
                    <a class="add" href="javascript:;" title="添加">
                        <span></span>
                    </a>
                </li>
            </ul>
            <% } %>

            <% }); %>
            <% if(list.length ==0) {%>
            <ul class="clearfix" style="display: block">
                <li>
                    <a class="add" href="javascript:;" title="添加">
                        <span></span>
                    </a>
                </li>
            </ul>
            <% }%>
        </div>
        <% if(list.length>6){ %>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
        <% } %>
    </div>
</script>
<script id="cfx-sys" type="text/html" class="template">
    <div class="cfx-sys custom-com">
        <div class="ul-wrap">
            <% _.each(list, function(i,index,lst) { %>
            <% if( index==0){ %>
            <ul class="clearfix" style="display: block">
                <% } %>
                <li>
                    <a title="<%= i.title %>" class="con" href="<%= i.href %>" target="_blank">
                        <img src="<%= i.picUrl  %>" alt="<%= i.title %>"/>
                        <span class="of"><%= i.title %></span>
                    </a>
                </li>

                <%if ( (index+1 )% 6 == 0 && (index+1 )!= lst.length &&index!=0){ %>


            </ul>
            <ul class="clearfix">
                <% } %>
                <% if ((index+1 )==lst.length){ %>
                <li>
                    <a class="add" href="javascript:;" title="添加">
                        <span></span>
                    </a>
                </li>
            </ul>
            <% } %>

            <% }); %>
            <% if(list.length ==0) {%>
            <ul class="clearfix" style="display: block">
                <li>
                    <a class="add" href="javascript:;" title="添加">
                        <span></span>
                    </a>
                </li>
            </ul>
            <% }%>


        </div>
        <% if(list.length>6){ %>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
        <% } %>
    </div>
</script>
<div class="popup normal-pop index-pop" id="pop1">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>管理我的自助（<em>人事生活</em>）<span>点击添加或取消，可拖拽调整顺序</span></h3>
        </div>
        <div class="pop-contain">
            <div class="con-wrap">
                <ul class="clearfix">
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <span class="db of">我的排班</span>
                            <em></em>
                        </a>
                    </li>

                </ul>
            </div>
            <!--<div class="text-center mt10 decision-btn">
                <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                <a href="javascript:;" class="cancel btn-2">取消</a>
            </div>-->
        </div>
    </div>
    <b class="close"></b>
</div>
<div class="popup normal-pop index-pop" id="pop2">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>管理我的自助（<em>常用系统</em>）<span>点击添加或取消，可拖拽调整顺序</span></h3>
        </div>
        <div class="pop-contain">
            <div class="con-wrap">
                <ul class="clearfix">
                    <li class="">
                        <a href="www.baidu.com" class="has-add">
                            <img src="temp/1.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <img src="temp/2.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <img src="temp/3.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="">
                            <img src="temp/4.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="">
                            <img src="temp/5.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;" class="has-add">
                            <img src="temp/6.png" alt="" width="50" height="50"/>

                            <span class="of">我的排班</span>
                            <em></em>
                        </a>
                    </li>
                </ul>
            </div>
            <!--<div class="text-center mt10 decision-btn">
                <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                <a href="javascript:;" class="cancel btn-2">取消</a>
            </div>-->
        </div>
    </div>
    <b class="close"></b>
</div>
<div class="popup normal-pop index-pop" id="pop3">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>管理我的常用菜单</h3>
        </div>
        <div class="pop-contain">
            <div class="tab-btn clearfix">
                <a href="javascript:;" class="active">搜索</a>
                <a href="javascript:;">已添加菜单</a>
            </div>
            <div class="tab-content-list" style="display: block;">
                <div class="search-keyword">
                    <input type="text" placeholder="输入关键字搜索"/>
                    <a href="javascript:;" title="搜索"></a>
                </div>

                <div class="search-resault">
                    <p>相关搜索结果如下：</p>
                    <div class="table-wrap">
                        <table>
                            <tr>
                                <th>菜单名称</th>
                                <th>操作</th>
                                <th>菜单描述</th>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="has-add" href="javascript:;" title="点击删除添加">
                                        <em></em>
                                        已添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="has-add" href="javascript:;"  title="点击删除添加">
                                        <em></em>
                                        已添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="has-add" href="javascript:;"  title="点击删除添加">
                                        <em></em>
                                        已添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="has-add" href="javascript:;"  title="点击删除添加">
                                        <em></em>
                                        已添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="has-add" href="javascript:;"  title="点击删除添加">
                                        <em></em>
                                        已添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                            <tr>

                                <td>发文</td>
                                <td>
                                    <a class="not-add" href="javascript:;">
                                        <em></em>
                                        添加
                                    </a>
                                </td>
                                <td>我的排班</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <div class="tab-content-list">
                <div class="has-add-menu usual-menu">
                    <ul class="clearfix">
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班1</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班2</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班3</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班4</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班5</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班6</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班7</span>
                                <em></em>
                            </a>
                        </li>
                        <li class="">
                            <a href="javascript:;" class="has-add">
                                <span class="of db">我的排班8</span>
                                <em></em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="text-center mt10 decision-btn">
                <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                <a href="javascript:;" class="cancel btn-2">取消</a>
            </div>-->
        </div>
    </div>
    <b class="close"></b>
</div>


<!--新增提示弹出框-->
<div class="popup normal-pop" id="pop4">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>提示</h3>
        </div>
        <div class="pop-contain">
            <p class="text-center">
                <em class="tip tip-warning"></em>
                <span>最多只能同时放置2个组件</span>
            </p>
        </div>
    </div>
    <b class="close"></b>
</div>
<div class="popup normal-pop" id="pop5">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>提示</h3>
        </div>
        <div class="pop-contain">
            <p class="text-center">
                <em class="tip tip-warning"></em>
                <span>顶部提示</span>
            </p>
        </div>
    </div>
    <b class="close"></b>
</div>
<!--点击保存弹出的提示框-->
<div class="popup normal-pop" id="pop6">
    <div class="popup-bg"></div>
    <div class="pop-wrap">
        <div class="pop-hd">
            <h3>提示</h3>
        </div>
        <div class="pop-contain">
            <p class="text-center mb20">
                <em class="tip tip-warning"></em>
                <span>是否保存当前操作</span>
            </p>
            <p class="text-center mt10 decision-btn">
                <a href="javascript:;" class="save-change mr10 btn-1">保存</a>
                <a href="javascript:;" class="cancel-close mr10 btn-2">取消</a>
                <a href="javascript:;" class="cancel-change mr10 btn-2">取消并返回初始状态</a>
            </p>
        </div>
    </div>
    <b class="close"></b>
</div>

<!--[if lt IE 9]>
<script src="js/lib/html5shiv.min.js"></script>
<script src="js/lib/respond.min.js"></script>
<![endif]-->

<script data-main="js/main" src="js/lib/require.js"></script>
</body>
</html>