<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件</title>
    <link rel="stylesheet" href="css/index.main.css"/>
    <link rel="stylesheet" href="css/index.workbench.lj.css"/>
    <link rel="stylesheet" href="css/index.workbench.theme.yellow.css"/>
    <link rel="stylesheet" href="css/index-r-table.css"/>
    <link rel="stylesheet" href="css/index-r-yellow.css"/>
</head>
<body>

<div class='mod-wrap tabWrap' style="margin:20px auto;width:900px">
    <div class='mod-head' >
        <a href="javascript" target="_blank" class="more"></a>
        <div class='title-head clearfix' style="display:none">
            <h3>标题</h3>
        </div>
        <div class='tab-head clearfix' style="display:block">
            <a class='' href='javascript:'>
                <span>tab1</span>
                <em></em>
                <b></b>
            </a>
            <a class='active' href='javascript:'>
                <span>tab2</span>
                <em></em>
                <b></b>
            </a>
        </div>
    </div>
    <div class="mod-body tab-content" >
        <!--文章列表-->
        <div class="query-table" >
            <div class="queryInput">
                <label for="input1">工号：</label><input id="input1" type="text" class="normal-input"/>
                <label for="input2" class="ml10">姓名：</label><input id="input2" type="text" class="input-date"/>
                <a href="javascript:" class="normal-btn btn-1 ml10">搜索</a>
            </div>
            <div class="tonglan-table ">
                <table>
                    <tr>
                        <th>区域</th>
                        <th>任务总数</th>
                        <th>已完成</th>
                        <th>进行中</th>
                        <th>超期为报</th>
                        <th>超期7天以内</th>
                        <th>超期8-15天</th>
                        <th>超期16-30天</th>
                        <th>超期30天以上</th>
                        <th>操作</th>
                    </tr>
                    <tr class="quanguo">
                        <td><%= zoom %></td>
                        <td>120004</td>
                        <td>8970</td>
                        <td>8970</td>
                        <td>8970</td>
                        <td>20%</td>
                        <td>9876</td>
                        <td>正常</td>
                        <td>2015-05-10 18:00</td>
                        <td>
                            9777
                        </td>
                    </tr>
                    <%  _.each(items, function(i) { %>
                    <tr>
                        <td><%= i.zoom %></td>
                        <td>
                            <a href="javascript:">1500</a>
                        </td>
                        <td>8970</td>
                        <td>8970</td>
                        <td>8970</td>
                        <td>20%</td>
                        <td>9876</td>
                        <td>正常</td>
                        <td>2015-05-10 18:00</td>
                        <td>
                            9777
                        </td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </div>
    </div>
</div>

<div class='mod-wrap tabWrap' style="margin:20px auto;width:900px">
    <div class='mod-head' >
        <a href="javascript" target="_blank" class="more"></a>
        <div class='title-head clearfix' style="display:none">
            <h3>标题</h3>
        </div>
        <div class='tab-head clearfix' style="display:block">
            <a class='' href='javascript:'>
                <span>tab1</span>
                <em></em>
                <b></b>
            </a>
            <a class='active' href='javascript:'>
                <span>tab2</span>
                <em></em>
                <b></b>
            </a>
        </div>
    </div>
    <div class="mod-body tab-content" >
        <!--代办待阅-->
        <div class="daydayup">
            <div class="ul-wrap">
                <ul>
                    <%  _.each(list, function(i) { %>
                    <li class="clearfix">
                        <p class="context">
                            <em></em>
                            <a href="<%= i.href %>"><%= i.title %></a>
                        </p>
                        <p class="quantity">
                            <%= i.date %>
                        </p>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class='mod-wrap tabWrap' style="margin:20px auto;width:900px">
    <div class='mod-head' >
        <a href="javascript" target="_blank" class="more"></a>
        <div class='title-head clearfix' style="display:none">
            <h3>标题</h3>
        </div>
        <div class='tab-head clearfix' style="display:block">
            <a class='' href='javascript:'>
                <span>tab1</span>
                <em></em>
                <b></b>
            </a>
            <a class='active' href='javascript:'>
                <span>tab2</span>
                <em></em>
                <b></b>
            </a>
        </div>
    </div>
    <div class="mod-body tab-content" >
        <!--学习成长-->
        <div class="daydayup">
            <div class="ul-wrap">
                <ul>
                    <%  _.each(list, function(i,index) { %>
                    <% if(index == 0){ %>
                    <li class="fst clearfix">
                        <img src="<%=  %>" alt="" width="100" height="70" class="show-pic"/>
                        <p class="context">
                            <strong></strong>
                            <a href=""></a>
                        </p>
                        <p class="quantity">
                        <span>
                           点击量：<em></em>
                        </span>

                        </p>
                    </li>
                    <% }else{ %>
                    <li class="clearfix">
                        <p class="context">
                            <em></em>
                            <strong><%= i.classify %></strong>
                            <i class="flag-mark"></i>
                            <a href="<%= i.href %>"><%= i.title %></a>
                        </p>
                        <p class="quantity">
                        <span>
                           点击量：<em><%= i.count %></em>
                        </span>
                            <%= i.date %>
                        </p>
                    </li>
                    <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class='mod-wrap tabWrap' style="margin:20px auto;width:900px">
    <div class='mod-head' >
        <a href="javascript" target="_blank" class="more"></a>
        <div class='title-head clearfix' style="display:none">
            <h3>标题</h3>
        </div>
        <div class='tab-head clearfix' style="display:block">
            <a class='' href='javascript:'>
                <span>tab1</span>
                <em></em>
                <b></b>
            </a>
            <a class='active' href='javascript:'>
                <span>tab2</span>
                <em></em>
                <b></b>
            </a>
        </div>
    </div>
    <div class="mod-body tab-content" >
        <!--文章列表-->
        <div class="bar-x" >
            <div class="queryInput">
                <label >科目选择：</label>
                <div class="moni-select low-select">
                    <button class="sel-button"></button>
                    <ul>
                        <% _.each(li,function(i,index){); %>
                        <li class="<%= if(index == li.length - 1){return 'last'} %>"><%= i %></li>
                        <% }) %>
                    </ul>
                </div>
                <label class="ml10">日期：</label><input type="text" class="input-date"/>
                <a href="javascript:" class="normal-btn btn-1 ml10">查询</a>
            </div>
            <div class="echart-wrap">

            </div>
        </div>
    </div>
</div>
<div class='mod-wrap tabWrap' style="margin:20px auto;width:900px">
    <div class='mod-head' >
        <a href="javascript" target="_blank" class="more"></a>
        <div class='title-head clearfix' style="display:none">
            <h3>标题</h3>
        </div>
        <div class='tab-head clearfix' style="display:block">
            <a class='' href='javascript:'>
                <span>tab1</span>
                <em></em>
                <b></b>
            </a>
            <a class='active' href='javascript:'>
                <span>tab2</span>
                <em></em>
                <b></b>
            </a>
        </div>
    </div>
    <div class="mod-body tab-content" >
        <!--待办任务-->
        <div class="daydayup">
            <div class="ul-wrap">
                <ul>
                    <%  _.each(list, function(i) { %>
                    <li class="clearfix">
                        <p class="context">
                            <em></em>
                            <span class="cw"><%= i.category %></span>
                            <span class="ys"><%= i.type %></span>
                            <a href="<%= i.href %>"><%= i.title %></a>
                        </p>
                        <p class="quantity">
                            <i class="man mr10"><%= i.owner %></i>
                            <i class="date mr10" ><%= i.date %></i>
                            <i class="time"><%= i.time %></i>
                        </p>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>

    </div>
</div>

<script data-main="js/main" src="js/lib/require.js"></script>
<script>

</script>
</body>
</html>