<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>首页</title>
    <link rel="stylesheet" href="css/index.main.css"/>
    <link rel="stylesheet" href="css/index.workbench.lj.css"/>
    <link rel="stylesheet" href="css/index.workbench.theme.yellow.css"/>
    <link rel="stylesheet" href="css/index-r-table.css"/>
    <link rel="stylesheet" href="css/index-r-yellow.css"/>
    <link rel="stylesheet" href="css/jquery.gridster.min.css"/>
</head>
<body>
<div class="min1200">
    <div class="daydayup">
        <div class="ul-wrap">
            <ul>
                <li class="fst clearfix">
                    <img src="temp/default-skin.png" alt="" width="100" height="70" class="show-pic"/>
                    <p class="context">
                        <strong>[会计科目说明]</strong>
                        <a href="#">2015年苏宁股份有限公司会计科目使用说明</a>
                    </p>
                    <p class="quantity">
                        <span>
                           点击量：<em>564</em>
                        </span>
                        2015-08-05
                    </p>
                </li>
                <li class="clearfix">
                    <p class="context">
                        <em></em>
                        <strong>[会计科目说明]</strong>
                        <i class="flag-mark"></i>
                        <a href="#">2015年苏宁股份有限公司会计科目使用说明</a>
                    </p>
                    <p class="quantity">
                        <span>
                           点击量：<em>564</em>
                        </span>
                        2015-08-05
                    </p>
                </li>
                <li class="clearfix">
                    <p class="context">
                        <em></em>
                        <strong>[会计科目说明]</strong>
                        <i class="flag-mark"></i>
                        <a href="#">2015年苏宁股份有限公司会计科目使用说明</a>
                    </p>
                    <p class="quantity">
                        <span>
                           点击量：<em>564</em>
                        </span>
                        2015-08-05
                    </p>
                </li>
                <li class="clearfix">
                    <p class="context">
                        <em></em>
                        <strong>[会计科目说明]</strong>
                        <i class="flag-mark"></i>
                        <a href="#">2015年苏宁股份有限公司会计科目使用说明</a>
                    </p>
                    <p class="quantity">
                        <span>
                           点击量：<em>564</em>
                        </span>
                        2015-08-05
                    </p>
                </li>
                <li class="clearfix">
                    <p class="context">
                        <em></em>
                        <strong>[会计科目说明]</strong>
                        <i class="flag-mark"></i>
                        <a href="#">2015年苏宁股份有限公司会计科目使用说明</a>
                    </p>
                    <p class="quantity">
                        <span>
                           点击量：<em>564</em>
                        </span>
                        2015-08-05
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="usual-menu custom-com">
        <div class="ul-wrap">
            <ul class="clearfix">
                <li>
                    <a class="con" href="#">
                        <span>请假申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>调班申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>考勤异常</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>外出申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>加班申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>立项申请</span>

                    </a>
                </li>
                <li>
                    <a class="add" href="#">
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
    </div>
    <div class="basic-hr custom-com hr-life">
        <div class="ul-wrap">
            <ul class="clearfix">
                <li>
                    <a class="con" href="#">
                        <span>请假申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>调班申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>考勤异常</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>外出申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>加班申请</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <span>立项申请</span>

                    </a>
                </li>
                <li>
                    <a class="add" href="#">
                        <span></span>

                    </a>
                </li>
            </ul>
        </div>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
    </div>
    <div class="cfx-sys custom-com">
        <div class="ul-wrap">
            <ul class="clearfix">
                <li>
                    <a class="con" href="#">
                        <img src="temp/1.png" alt=""/>
                        <span class="of">苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <img src="temp/2.png" alt=""/>
                        <span class="of">苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <img src="temp/3.png" alt=""/>
                        <span class="of">苏宁物流苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <img src="temp/4.png" alt=""/>
                        <span class="of">苏宁物流苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <img src="temp/5.png" alt=""/>
                        <span class="of">苏宁物流苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="con" href="#">
                        <img src="temp/6.png" alt=""/>
                        <span class="of">苏宁物流苏宁物流</span>

                    </a>
                </li>
                <li>
                    <a class="add" href="#">
                        <span></span>

                    </a>
                </li>
            </ul>
        </div>
        <div class="roll">
            <a href="javascript:;" class="prev" title="上一页"></a>
            <a href="javascript:;" class="next" title="下一页"></a>
        </div>
    </div>
</div>
<script src="js/lib/jquery-1.11.3.min.js"></script>
<!--弹出框组件-->
<script id="popup1" type="text/html" class="template">
    <div class="popup normal-pop index-pop" id="pop1">
        <div class="popup-bg"></div>
        <div class="pop-wrap">
            <div class="pop-hd">
                <h3>管理我的自助（<em></em>）<span>点击添加或取消，可拖拽调整顺序</span></h3>
            </div>
            <div class="pop-contain">
                <div class="con-wrap">
                    <ul class="clearfix">
                        <% _.each(item, function(i) { %>
                        <li class="">
                            <a href="javascript:;" class="<%= i.whetheradd %>">

                                <span><%= i.context %></span>
                                <em></em>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="text-center mt10">
                    <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                    <a href="javascript:;" class="cancel btn-2">取消</a>
                </div>
            </div>
        </div>
        <b class="close"></b>
    </div>
</script>
<script id="popup2" type="text/html" class="template">
    <div class="popup normal-pop index-pop" id="pop2">
        <div class="popup-bg"></div>
        <div class="pop-wrap">
            <div class="pop-hd">
                <h3>管理我的自助（<em></em>）<span>点击添加或取消，可拖拽调整顺序</span></h3>
            </div>
            <div class="pop-contain">
                <div class="con-wrap">
                    <ul class="clearfix">
                        <% _.each(item, function(i) { %>
                        <li class="">
                            <a href="javascript:;" class="<%= i.whetheradd %>">
                                <img src="<%= i.img %>" alt=""/>
                                <br/>
                                <span class="of"><%= i.context %></span>
                                <em></em>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <div class="text-center mt10">
                    <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                    <a href="javascript:;" class="cancel btn-2">取消</a>
                </div>
            </div>
        </div>
        <b class="close"></b>
    </div>
</script>
<script id="popup3" type="text/html" class="template">
    <div class="popup normal-pop index-pop" id="pop3">
        <div class="popup-bg"></div>
        <div class="pop-wrap">
            <div class="pop-hd">
                <h3>管理我的常用菜单</h3>
            </div>
            <div class="pop-contain">
                <div class="tab-btn clearfix">
                    <a href="javascript:;" class="active">搜索</a>
                    <a href="javascript:;">已添加菜单</a>
                </div>
                <div class="tab-content-list" style="display: block;">
                    <div class="search-keyword">
                        <input type="text" placeholder="输入关键字搜索"/>
                        <a href="javascript:;" title="搜索"></a>
                    </div>

                    <div class="search-resault">
                        <p>相关搜索结果如下：</p>
                        <div class="table-wrap">
                            <table>
                                <tr>
                                    <th>菜单类型</th>
                                    <th>菜单名称</th>
                                    <th>操作</th>
                                    <th>菜单描述</th>
                                </tr>
                                <% _.each(item, function(i) { %>
                                <tr>
                                    <td><%= i.type %></td>
                                    <td><%= i.name %></td>
                                    <td>
                                        <% if(i.whetheradd){ %>
                                        <a class="has-add" href="javascript:;" >
                                            <em></em>
                                            已添加
                                        </a>
                                        <% } else {%>
                                        <a class="not-add" href="javascript:;">
                                            <em></em>
                                            添加
                                        </a>
                                        <% }%>
                                    </td>
                                    <td><%= i.context %></td>
                                </tr>
                                <% }); %>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-content-list">
                    <div class="has-add-menu usual-menu">

                    </div>

                </div>
                <div class="text-center mt10">
                    <a href="javascript:;" class="confirm btn-1 mr10">确定</a>
                    <a href="javascript:;" class="cancel btn-2">取消</a>
                </div>
            </div>
        </div>
        <b class="close"></b>
    </div>
</script>
<script id="popup4" type="text/html" class="template">
    <ul class="clearfix">
        <% _.each(item, function(i) { %>
        <li class="">
            <a href="javascript:;" class="has-add">
                <span class="of"><%= i.context %></span>
                <em></em>
            </a>
        </li>
        <% }); %>
    </ul>
</script>
<script>

    var color = ['#00c3e7','#00cd6f','#00d0d6','#ffb335','#f8796b','#8ccb42','#f78c3d','#6d94e3'];
    function randomVal(val){
        return Math.floor(Math.random()*8);
    }
    $(function(){
        $(".hr-life li a:not(:last)").each(function(i){
            $(this).css({
                'background':  color[randomVal()]
            })
        })
    })
</script>
</body>
</html>