@charset "utf-8";
@import "lj.scss";
@function rem($px){
  @if $px <= 2 {  $px : 2;  }
  @return $px/50 + rem;
}
@function px($px){
  @return $px/2 + px;
}
.login-box{
  h1{
    margin: rem(280) auto rem(80);
    img{
      display: block;
      margin: 0 auto;
      width: px(367);
      height: px(101);

    }
  }
  .btn-login{
    display: block;
    margin: rem(80) auto 0;
    width: rem(642);
    height: rem(80);
    background: #f89828;
    font-size: 16px;
    color: #FFF;
    text-align: center;
    line-height: rem(80);
    overflow: hidden;
    border-radius: 3px;
  }
  .input-group{
    .input-box{
      position: relative;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      height: rem(78);
      width: 100%;
      margin-bottom: rem(20);
      padding:0 rem(78);
      .input-long{
        border: 0 none;
        background: #FFF;
        width: rem(550);
        height: rem(74);
        padding: rem(19) rem(10);
        font-size: 12px;
        vertical-align: top;

      }
      .yzm{
        width: rem(435);
      }
      .btn-code{
        position: absolute;
        right:rem(65);
        top:rem(15);
        color: #f89828;
        font-size: 12px;
      }
      .btn-code-second{
        position: absolute;
        right:rem(65);
        top:rem(15);
        color: #f89828;
        font-size: 14px;
        font-weight: 400;
      }
      .icons{
        float: left;
        margin-top:rem(19);
        margin-right:rem(19);
        &.icon-phone{
          width: 14px;
          height: 19.5px;
          background: url(images/phone.png) no-repeat center /cover;
        }
        &.icon-code{
          width: 14px;
          height: 19.5px;
          background: url(images/pas.png) no-repeat center /cover;
        }
      }

    }

  }
  .footer{
    position: fixed;
    bottom: rem(35);
    left:50%;
    margin-left:-(px(185));
    width: px(367);
    img{
      display: block;
      width: px(367);
      height: px(71);
    }
  }
}
#tipPage{
  width: 100%;
  height: 100%;
  overflow: hidden;
  body{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.tips-page{
  background: #f5f5f5;
  padding-top: rem(120);
  width: 100%;
  min-height: 100%;
  img{
    display: block;
    vertical-align:top;
    margin: 0 auto;
    width: 77px;
    height: 87px;
    max-width: 100%;
  }
  p{
    margin-top: rem(25);
    text-align: center;
    font:400 14px/28px "Microsoft YaHei";
  }
}
.pj-list{
  li{
      width: 100%;
    a{
      display: block;
      color: #333;
      font-size: 14px;
      font-weight: 400;
      padding:rem(30);
      border-bottom: 1px solid #e5e5e5;
    }

  }
}
.citySelect{
  .select-wrap{
    background: #FFF;
    padding-left: rem(35);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    .section-edit{
      input{
        border: 0 none;
        font-size: 13px;
        color: #666;
        width: rem(700);
      }
      &.fst{
        border-bottom: 1px solid #e5e5e5;
      }
    }

  }
}
.bg-f5{background: #f5f5f5;}
.citySelectBtn{
  background: #f89828;
  width: 85%;
  text-align: center;
  font-size: rem(32);
  height: rem(80);
  line-height: rem(80);
  font-weight: 400;
  display: block;
  margin: rem(80) auto 0;
  color: #FFF;
  border-radius: 3px;
}
.vip-info{
  background: #f5f5f5;
  padding-bottom: rem(20);
  .vip-card{
    background: #f5f5f5;
    padding: rem(50) 0;
    position: relative;
    .black-bg{
      height: rem(340);
      width: 100%;
      background: #3e3e3e;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    img{
      display: block;
      max-width: 100%;
      width: rem(604);
      height: rem(369);
      position: relative;
      z-index: 9;
      margin: 0 auto;
    }
    .vip-number{
      position: absolute;
      right:rem(98);
      bottom:rem(65);
      color: #FFF;
      opacity: 0.8;
      z-index: 10;
      font-size: 12px;
      -webkit-transform:scale(0.8,0.8) ;
    }
    &.gold-card{
      .vip-number{
        right:rem(98);
        top:rem(65);
        bottom: inherit;
      }
    }
  }
  .info-list{
     ul{
       background: #FFF;
       border-top:1px solid #e7e7e7;
       border-bottom:1px solid #e7e7e7;
       margin-bottom: rem(20);
       li{
         margin-left: rem(45);
         padding-right: rem(45);
         border-bottom: 1px solid #e7e7e7;
         a{
           display: block;
         }
         &:last-child{
           border-bottom: 0 none;
         }
         .list-name{
           font-size: 14px;
           height: rem(90);
           line-height: rem(90);
         }
         .list-value{
           font-size: 13px;
           float: right;
           height: rem(90);
           line-height: rem(90);
           color: #999;
         }
         .list-arrow{
           float: right;
           background: url(images/spt_28.png) no-repeat center /cover;
           margin-top: rem(32);
           width: rem(15);
           height: rem(28);
         }
         .list-icon{
          width: 21.5px;
           height: 20px;
           float: left;
           margin-top: rem(22);
           margin-right:rem(30);
         }
       }
       .list1{
         .list-icon{
           background: url(images/icons/list1.png) no-repeat center /cover;
         }

       }
       .list2{
         .list-icon{
           background: url(images/icons/list2.png) no-repeat center /cover;
         }

       }
       .list3{
         .list-icon{
           background: url(images/icons/list3.png) no-repeat center /cover;
         }

       }
       .list4{
         .list-icon{
           background: url(images/icons/list4.png) no-repeat center /cover;
         }

       }
       .list5{
         .list-icon{
           background: url(images/icons/list5.png) no-repeat center /cover;
         }

       }
       .list6{
         .list-icon{
           background: url(images/icons/list6.png) no-repeat center /cover;
         }

       }
       .list7{
         .list-icon{
           background: url(images/icons/list7.png) no-repeat center /cover;
         }

       }
       .list8{
         .list-icon{
           background: url(images/icons/list8.png) no-repeat center /cover;
         }
       }

     }
    .add-project-btn{
      display: block;
      background: #FFF;
      font-size: 14px;
      color: #f76a72;
      font-weight: 400;
      text-align: center;
      padding:rem(28) 0;
      width: 100%;
      border-top:1px solid #e7e7e7;
      border-bottom:1px solid #e7e7e7;
    }
  }
}
