@charset "UTF-8";
.moni-select {
  position: relative; }
  .moni-select .sel-button {
    padding: 5px;
    height: 30px;
    line-height: 18px;
    width: 142px;
    border: 1px solid #d6d2c5;
    text-align: left;
    background: url(images/moni-sel-arrow.jpg) no-repeat right center;
    cursor: pointer; }
  .moni-select ul {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    border: 1px solid #d6d2c5;
    border-top: 0 none;
    z-index: 99; }
    .moni-select ul li {
      height: 18px;
      width: 130px;
      padding: 5px;
      line-height: 18px;
      border-bottom: 1px solid #D6D2C5;
      background: #FFF;
      cursor: pointer; }
      .moni-select ul li.last {
        border-bottom: 0 none; }

.long-select .sel-button {
  width: 392px; }
.long-select ul li {
  width: 380px; }

.tonglan-table {
  padding-bottom: 10px;
  background: #FFF;
  overflow: auto; }
  .tonglan-table table {
    width: 100%; }
    .tonglan-table table th, .tonglan-table table td {
      padding: 0 10px;
      height: 30px;
      border: 1px solid #ebe8dc;
      border-left: 0 none;
      text-align: center;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden; }
      .tonglan-table table th.last, .tonglan-table table td.last {
        border-right: 0 none; }
      .tonglan-table table th a, .tonglan-table table td a {
        color: #995b31; }
        .tonglan-table table th a:hover, .tonglan-table table td a:hover {
          text-decoration: underline; }
    .tonglan-table table th {
      background: #FAF7EB;
      font-weight: 700; }

.right-content-wrap {
  min-width: 760px;
  padding: 20px; }
  .right-content-wrap .right-content-border {
    background: #FFF;
    border: 1px solid #ded8c8; }

.search-condition {
  margin: 0 auto;
  padding: 20px 0 10px;
  background: #FFF; }
  .search-condition .auto-table {
    padding: 0 10px; }
    .search-condition .auto-table table {
      width: 100%; }
    .search-condition .auto-table th {
      text-align: right;
      font-weight: 400;
      padding-bottom: 10px; }
    .search-condition .auto-table td {
      position: relative;
      font-weight: 400;
      padding-bottom: 10px; }
      .search-condition .auto-table td label {
        vertical-align: middle;
        margin-right: 15px; }
        .search-condition .auto-table td label input {
          vertical-align: middle;
          margin-right: 5px; }

.disabled-btn {
  color: #ccc !important;
  cursor: text !important; }

.red-star {
  margin-right: 3px;
  color: #ff0000;
  font-family: SimSun;
  vertical-align: middle; }

.error-input {
  border: 1px solid #ff5555; }

.error-p {
  position: absolute;
  top: 30px;
  left: 0;
  color: #ff5555; }

.bg-gray {
  background: #f7f7f7; }

.sn-footer {
  position: absolute;
  left: 270px;
  color: #666;
  font-family: "MicroSoft Yahei";
  line-height: 50px;
  overflow: hidden; }

.normal-select {
  height: 30px;
  line-height: 30px;
  width: 142px;
  border: 1px solid #d6d2c5;
  vertical-align: middle; }

.normal-select.full {
  width: 100%; }

.tiny-select {
  height: 30px;
  line-height: 30px;
  width: 52px;
  border: 1px solid #d6d2c5;
  vertical-align: middle; }

.normal-input {
  padding: 5px;
  height: 18px;
  line-height: 18px;
  width: 130px;
  border: 1px solid #d6d2c5; }

.small-input {
  padding: 5px;
  height: 18px;
  line-height: 18px;
  width: 65px;
  border: 1px solid #d6d2c5; }

.input-date {
  padding: 5px 30px 5px 5px;
  height: 18px;
  line-height: 18px;
  width: 105px;
  border: 1px solid #d6d2c5;
  background: url(images/date_02.png) no-repeat 120px center; }

.input-date.list {
  background-image: url(images/list.png); }

.input-date.calc {
  background-image: url(images/calc.png); }

.normal-btn {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  background: #f6f6f6;
  font-weight: 700;
  color: #666;
  overflow: hidden;
  line-height: 30px;
  border-radius: 2px;
  border: 1px solid #d6d6d6; }

.long-input {
  padding: 5px;
  height: 18px;
  line-height: 18px;
  width: 300px;
  border: 1px solid #d6d2c5; }

.max-input {
  padding: 5px;
  height: 18px;
  line-height: 18px;
  width: 380px;
  border: 1px solid #d6d2c5; }

.normal-btn:hover {
  background: #fff0c8;
  color: #a86e47;
  border-color: #d1c092; }

.btn-1 {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  background: #fda918;
  font-weight: 700;
  color: #FFF;
  overflow: hidden;
  line-height: 30px;
  border-radius: 2px;
  border-color: #ffb12b; }

.btn-1:hover {
  background-color: #ffb12b;
  color: #fff;
  border-color: #ffb12b; }

.btn-2 {
  display: inline-block;
  height: 30px;
  padding: 0 20px;
  background: #fcf8ed;
  font-weight: 700;
  color: #765b49;
  overflow: hidden;
  line-height: 30px;
  border-radius: 2px;
  border-color: #d1c9b4; }

.table-operation-btns {
  background: #fff;
  padding: 10px; }
  .table-operation-btns a {
    margin-right: 10px; }

.orange-color {
  color: #ed6d00; }

.green-color {
  color: #64b100; }

.word, .ppt, .pdf {
  display: block;
  width: 16px;
  height: 16px;
  text-align: center;
  margin: 0 auto; }

.flag {
  display: block;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  overflow: hidden; }

.blue-flag {
  background: #75baff; }

.yellow-flag {
  background: #ffd175; }

.red-flag {
  background: #f56d5b; }

.flow-steps {
  display: none;
  position: absolute;
  padding: 20px;
  border: 1px solid #b3aea1;
  box-shadow: 0 3px 3px #b3aea1;
  background: #FFF;
  z-index: 99; }
  .flow-steps .f-arrow {
    position: absolute;
    right: -6px;
    top: 30px;
    width: 6px;
    height: 10px;
    overflow: hidden;
    background: url(images/flow.png) no-repeat 0 -37px; }
  .flow-steps a.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 8px;
    height: 8px; }
  .flow-steps th {
    padding: 0 20px;
    border-bottom: 1px dashed #a6937c;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    text-align: center; }
  .flow-steps td {
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    text-align: center; }
  .flow-steps .fst {
    position: relative;
    border-right: 1px dashed #a6937c;
    text-align: right; }
  .flow-steps .state {
    position: absolute;
    right: -10px;
    top: 10px;
    width: 16px;
    height: 16px;
    background: url(images/flow.png) no-repeat 0 0; }
  .flow-steps .state-2 {
    background-position: 0 -17px; }

.hgt-32 {
  height: 20px;
  line-height: 20px; }

.bottom-submit-mod {
  margin: 20px;
  padding-top: 20px;
  border-top: 1px dashed #e8e0d0; }

.skin-option {
  display: inline-block;
  margin-left: 50px; }
  .skin-option a {
    display: block;
    position: relative;
    border: 4px solid #fff; }
    .skin-option a em {
      display: none;
      position: absolute;
      left: 45%;
      top: 45%;
      width: 32px;
      height: 32px;
      background: url(images/theme-yellow/ui.png) no-repeat -173px -354px; }
    .skin-option a:hover {
      border: 4px solid #6ac150;
      background: #000; }
      .skin-option a:hover img {
        opacity: 0.7;
        filter: alpha(opacity=70); }
      .skin-option a:hover em {
        display: block; }
    .skin-option a img {
      vertical-align: top; }
  .skin-option .active em {
    display: block; }
  .skin-option p {
    padding-top: 5px;
    text-align: center; }

.change-skin {
  background: #edebdf; }
  .change-skin .skin-title {
    padding-top: 25px;
    height: 35px;
    background: #fcfcf7; }
    .change-skin .skin-title span {
      display: inline-block;
      padding: 0 10px 6px;
      margin-left: 30px;
      font-size: 18px;
      font-family: "Microsoft YaHei"; }
    .change-skin .skin-title b {
      color: #999;
      font-weight: 400; }
  .change-skin .skin-sel {
    padding: 30px 50px; }
    .change-skin .skin-sel .default-skin, .change-skin .skin-sel .customize-skin {
      margin-bottom: 20px;
      border: 1px solid #DED8C8;
      padding-top: 20px;
      padding-bottom: 30px;
      background: #FFF; }
      .change-skin .skin-sel .default-skin h3, .change-skin .skin-sel .customize-skin h3 {
        margin-bottom: 10px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Microsoft YaHei"; }

/*index*/
.gridster {
  overflow: auto; }

/*管理自助弹出框*/
.index-pop {
  min-width: 500px; }
  .index-pop h3 {
    font-size: 14px;
    font-family: "Microsoft YaHei"; }
    .index-pop h3 span {
      padding-left: 20px;
      font-size: 12px;
      color: #999; }
  .index-pop .pop-contain li {
    float: left;
    margin: 0 10px 10px 0; }
    .index-pop .pop-contain li a {
      position: relative;
      display: block; }
      .index-pop .pop-contain li a em {
        display: none;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 16px;
        height: 16px; }
      .index-pop .pop-contain li a:hover em {
        display: block; }

.daydayup {
  padding: 20px; }
  .daydayup li {
    padding: 8px; }
    .daydayup li .context {
      float: left;
      width: 60%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .daydayup li .context em {
        background: url("images/theme-yellow/ui.png") no-repeat scroll -243px -367px;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 10px; }
      .daydayup li .context strong {
        padding-right: 5px; }
      .daydayup li .context .cw {
        padding-right: 10px; }
      .daydayup li .context .ys {
        padding-right: 10px; }
      .daydayup li .context a:hover {
        color: #ed6d00; }
    .daydayup li .quantity {
      float: right;
      width: 170px;
      color: #666;
      text-align: right; }
      .daydayup li .quantity span {
        float: left;
        width: 100px;
        text-align: left; }
        .daydayup li .quantity span em {
          color: #995b31; }
    .daydayup li.fst .show-pic {
      float: left;
      margin-right: 15px;
      vertical-align: top; }
    .daydayup li.fst .wrap {
      float: left; }
      .daydayup li.fst .wrap p {
        float: none;
        width: auto;
        text-align: left; }
        .daydayup li.fst .wrap p span {
          float: none;
          margin-right: 20px; }

.red-color {
  color: #ff5555; }

.info-tips-alert {
  width: 360px;
  z-index: 99;
  position: absolute;
  right: 20px;
  bottom: 10px;
  background: #FFF;
  box-shadow: 0 0 3px #d5d3c8; }
  .info-tips-alert .close {
    text-align: right;
    height: 38px;
    line-height: 38px; }
    .info-tips-alert .close a {
      float: right;
      width: 16px;
      height: 16px;
      margin: 11px 10px 0 10px; }
  .info-tips-alert .context {
    display: none;
    padding: 18px; }
    .info-tips-alert .context.active {
      display: block; }
    .info-tips-alert .context h3 {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 700; }
    .info-tips-alert .context p {
      text-indent: 2em; }
  .info-tips-alert .bottom {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 400; }
    .info-tips-alert .bottom .page-count {
      float: right;
      margin-right: 20px; }
    .info-tips-alert .bottom .btn-handler {
      float: right;
      height: 24px;
      margin-right: 15px;
      margin-top: 5px; }
      .info-tips-alert .bottom .btn-handler a {
        display: inline-block;
        width: 24px;
        height: 24px; }

.custom-com {
  padding: 20px; }
  .custom-com .roll {
    float: right;
    height: 24px;
    margin-right: 15px; }
    .custom-com .roll a {
      display: inline-block;
      width: 24px;
      height: 24px; }
  .custom-com ul {
    display: none;
    margin-right: -10px; }
    .custom-com ul li a {
      position: relative; }
      .custom-com ul li a em {
        display: none;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 16px;
        height: 16px; }
      .custom-com ul li a:hover em {
        display: block; }
      .custom-com ul li a.add em {
        background: none !important; }
      .custom-com ul li a.add:hover em {
        display: none; }

.usual-menu ul li {
  float: left;
  margin: 0 10px 10px 0;
  width: 60px;
  height: 60px; }
  .usual-menu ul li a {
    display: block;
    width: 60px;
    height: 60px;
    color: #618d2c;
    border-radius: 50%;
    background: #ddf3c2;
    text-align: center;
    line-height: 60px;
    font-weight: 700; }
    .usual-menu ul li a:hover {
      background: #9bca63;
      color: #FFF; }
    .usual-menu ul li a.add {
      background: #FFF;
      border: 2px dashed #d8d8d7; }
      .usual-menu ul li a.add span {
        display: block;
        margin: 22px auto;
        width: 16px;
        height: 16px;
        background: url(images/flow.png) no-repeat 0 -52px; }
    .usual-menu ul li a em {
      top: 0;
      right: 0; }

.hr-life ul li {
  float: left;
  margin: 0 10px 10px 0;
  width: 96px;
  height: 30px; }
  .hr-life ul li a {
    display: block;
    width: 96px;
    height: 30px;
    color: #fff;
    background: #ddf3c2;
    text-align: center;
    line-height: 30px;
    font-weight: 700; }
    .hr-life ul li a.add {
      background: #FFF;
      height: 26px;
      border: 2px dashed #d8d8d7; }
      .hr-life ul li a.add span {
        display: block;
        margin: 6px auto;
        width: 16px;
        height: 16px;
        background: url(images/flow.png) no-repeat 0 -52px; }

.cfx-sys ul {
  margin-right: -25px; }
  .cfx-sys ul li {
    float: left;
    margin: 0 25px 15px 0;
    width: 50px; }
    .cfx-sys ul li a {
      display: block;
      width: 50px;
      color: #333;
      background: none;
      text-align: center;
      font-weight: 400; }
      .cfx-sys ul li a img {
        width: 50px;
        height: 50px; }
      .cfx-sys ul li a span {
        display: block;
        width: 50px; }
      .cfx-sys ul li a.add {
        background: #FFF;
        height: 46px;
        border: 2px dashed #d8d8d7; }
        .cfx-sys ul li a.add span {
          display: block;
          margin: 15px auto;
          width: 16px;
          height: 16px;
          background: url(images/flow.png) no-repeat 0 -52px; }

#pop1 li {
  float: left;
  margin: 0 10px 10px 0;
  width: 96px;
  height: 30px; }
  #pop1 li a {
    display: block;
    width: 96px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: 700; }
    #pop1 li a.add {
      background: #FFF;
      height: 26px;
      border: 2px dashed #d8d8d7; }
      #pop1 li a.add span {
        display: block;
        margin: 6px auto;
        width: 16px;
        height: 16px;
        background: url(images/flow.png) no-repeat 0 -52px; }

#pop2 {
  width: 560px; }
  #pop2 li a {
    margin: 0 10px 10px 0; }
    #pop2 li a span {
      display: block;
      width: 50px; }

#pop3 {
  width: 510px; }
  #pop3 .pop-contain {
    padding: 20px; }
    #pop3 .pop-contain .tab-content-list {
      display: none; }
  #pop3 .tab-btn a {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 700; }
  #pop3 .search-keyword {
    position: relative; }
    #pop3 .search-keyword input {
      width: 450px;
      height: 18px;
      line-height: 18px;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #DDD; }
    #pop3 .search-keyword a {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 27px;
      height: 28px;
      background: url(images/flow.png) no-repeat -21px 0; }
  #pop3 .search-resault table {
    width: 100%; }
    #pop3 .search-resault table tr {
      height: 30px;
      text-align: center;
      line-height: 30px; }
      #pop3 .search-resault table tr td a {
        display: block; }
        #pop3 .search-resault table tr td a em {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          width: 16px;
          height: 16px; }
  #pop3 .has-add-menu {
    padding: 10px;
    max-height: 370px;
    min-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ded8c8; }

/*.mod-body{
  overflow-x: hidden;
  overflow-y: auto;
}*/
