


.tonglan-table{
  table{
    th{
      border-top:1px solid #76b5f5;
    }
  }
}
.flow-steps{
  .close{
    background:url(images/theme-blue/ui.png) no-repeat -180px -316px;
    &:hover{
      background-position:-192px -316px;
    }
  }
  td.fst{color:#76b5f5;}
}

.skin-title{
  span{
    border-bottom:3px solid #76b5f5;
  }
}
.skin-sel{
  h3{
    border-left:8px solid #ffa024;
  }
}
/*学习成长*/
.daydayup{
  li{
    border-bottom: 1px dashed #dde4eb;
  }
}
.info-tips-alert{
  border: 1px solid #62abf5;
  .close{
    color: #fff;
    background: #62abf5;
    a{
      background: url(images/theme-blue/info-x.png) no-repeat;
    }
  }
  .bottom{
    background: #ebf1f7;
    .btn-handler{
      a{
        background: url(images/theme-blue/ui.png) no-repeat;
      }
      .prev{
        background-position: -8px -308px;
        &:hover{
          background-position: -68px -308px;
        }
      }
      .next{
        background-position: -34px -308px;
        &:hover{
          background-position: -94px -308px;
        }
      }
    }
  }
}

.custom-com{
  .roll{
    a{
      background: url(images/theme-blue/ui.png) no-repeat;
    }
    .prev{
      background-position: -8px -308px;
      &:hover{
        background-position: -68px -308px;
      }
    }
    .next{
      background-position: -34px -308px;
      &:hover{
        background-position: -94px -308px;
      }
    }
  }
}

.index-pop{
  .pop-contain{
    li{
      a{
        em{
          background: url(images/theme-blue/ui.png) no-repeat -11px -412px;
        }
        &:hover{
          display: block;
        }
        &.has-add{
          em{
            display: block;
            background: url(images/theme-blue/ui.png) no-repeat -37px -412px;
          }
        }
        &.has-add:hover{
          em{
            display: block;
            background: url(images/theme-blue/ui.png) no-repeat -99px -412px;
          }
        }
      }
    }
  }
}
#pop3{
  .tab-btn{
    border: 1px solid #f7ba4f;
    margin-bottom: 20px;
    a{
      color: #f7ba4f;
      &.active{
        color: #FFF;
        background: #f7ba4f;
      }
    }
  }

  .search-resault{
    table{
      tr{
        th{
          background: #ebf6ff;
          border: 1px solid #ced7e0;
        }
        td{
          background: #FFF;
          border: 1px solid #ced7e0;
          a{
            color: #007ebd;
            &:hover{
              color: #995b31;
            }
          }
        }
      }
    }
  }
}