@charset "UTF-8";
.input-date:focus,
.small-input:focus,
.normal-input:focus,
.long-input:focus,
.max-input:focus {
  border: 1px solid #fbb151; }

.tonglan-table table th {
  border-top: 1px solid #f0c960; }

.flow-steps .close {
  background: url(images/theme-yellow/ui.png) no-repeat -180px -316px; }
  .flow-steps .close:hover {
    background-position: -192px -316px; }
.flow-steps td.fst {
  color: #995b31; }

.skin-title span {
  border-bottom: 3px solid #ffa024; }

.skin-sel h3 {
  border-left: 8px solid #6ac150; }

/*学习成长*/
.m-daydayup li,
.m-dbrw li,
.m-wddb li {
  border-bottom: 1px dashed #ebe7dd; }

.info-tips-alert {
  border: 1px solid #f8b500; }
  .info-tips-alert .close {
    color: #333;
    background: #f8b500; }
    .info-tips-alert .close a {
      background: url(images/theme-yellow/info-x.png) no-repeat; }
  .info-tips-alert .bottom {
    background: #f7f5eb; }
    .info-tips-alert .bottom .btn-handler a {
      background: url(images/theme-yellow/ui.png) no-repeat; }
    .info-tips-alert .bottom .btn-handler .prev {
      background-position: -8px -308px; }
      .info-tips-alert .bottom .btn-handler .prev:hover {
        background-position: -68px -308px; }
    .info-tips-alert .bottom .btn-handler .next {
      background-position: -34px -308px; }
      .info-tips-alert .bottom .btn-handler .next:hover {
        background-position: -94px -308px; }

.custom-com .roll a {
  background: url(images/theme-yellow/ui.png) no-repeat; }
.custom-com .roll .prev {
  background-position: -8px -308px; }
  .custom-com .roll .prev:hover {
    background-position: -68px -308px; }
.custom-com .roll .next {
  background-position: -34px -308px; }
  .custom-com .roll .next:hover {
    background-position: -94px -308px; }

.index-pop .pop-contain li a em {
  background: url(images/theme-yellow/ui.png) no-repeat -11px -412px; }
.index-pop .pop-contain li a:hover {
  display: block; }
.index-pop .pop-contain li a.has-add em {
  display: block;
  background: url(images/theme-yellow/ui.png) no-repeat -37px -412px; }
.index-pop .pop-contain li a.has-add:hover em {
  display: block;
  background: url(images/theme-yellow/ui.png) no-repeat -99px -412px; }

#pop3 .tab-btn {
  border: 1px solid #f7ba4f;
  margin-bottom: 20px; }
  #pop3 .tab-btn a {
    color: #f7ba4f; }
    #pop3 .tab-btn a.active {
      color: #FFF;
      background: #f7ba4f; }
#pop3 .search-resault table tr th {
  background: #faf7eb;
  border: 1px solid #ebe8dd; }
#pop3 .search-resault table tr td {
  background: #FFF;
  border: 1px solid #ebe8dd; }
  #pop3 .search-resault table tr td a {
    color: #995b31; }
    #pop3 .search-resault table tr td a:hover {
      color: #fa761e; }
    #pop3 .search-resault table tr td a em {
      background: url(images/theme-yellow/ui.png) no-repeat -11px -412px; }
    #pop3 .search-resault table tr td a.has-add:hover em {
      background: url(images/theme-yellow/ui.png) no-repeat -99px -412px; }
    #pop3 .search-resault table tr td a.has-add em {
      background: url(images/theme-yellow/ui.png) no-repeat -37px -412px; }

.mods-contain {
  background: #e4e2d7; }

.r-container .reload-pnf {
  background: #edebde; }
