.lg-btn {
  display: inline-block;
  width: 88px;
  height: 38px;
  border: 1px solid;
  line-height: 38px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 2px; }

.normal-tr {
  box-sizing: border-box;
  padding: 5px;
  height: 30px;
  border: 1px solid;
  line-height: 18px; }
  .normal-tr.full {
    width: 96%; }
  .normal-tr.row2 {
    height: 48px; }
  .normal-tr.row3 {
    height: 66px; }

.top {
  padding-left: 20px;
  height: 60px; }
  .top .logo {
    float: left;
    margin-top: 20px; }
    .top .logo em {
      display: block;
      width: 128px;
      height: 18px; }
  .top .title {
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    line-height: 30px;
    font-size: 20px; }
  .top .sw-btn {
    position: relative;
    float: left;
    display: block;
    width: 175px;
    margin-left: 33px;
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    cursor: pointer; }
    .top .sw-btn em {
      display: inline-block;
      width: 10px;
      height: 6px;
      margin: 0 10px; }
    .top .sw-btn ul {
      display: none;
      position: absolute;
      left: 0;
      top: 60px;
      width: 100%;
      padding-bottom: 10px;
      z-index: 5000; }
      .top .sw-btn ul li a {
        display: block;
        height: 30px;
        line-height: 30px;
        padding-left: 20px; }
    .top .sw-btn:hover ul {
      display: block; }
  .top .r-tools {
    float: right;
    height: 60px;
    line-height: 60px; }
    .top .r-tools .theme {
      display: inline-block;
      width: 50px;
      height: 60px; }
    .top .r-tools .msg {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 60px; }
      .top .r-tools .msg em {
        position: absolute;
        left: 28px;
        top: 7px;
        display: inline-block;
        width: 22px;
        height: 18px;
        line-height: 18px;
        text-align: center; }
    .top .r-tools .head-btn {
      position: relative;
      display: inline-block;
      float: right;
      width: 117px;
      height: 60px;
      padding-left: 13px;
      margin-left: 10px;
      cursor: pointer; }
      .top .r-tools .head-btn img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        border-radius: 50%;
        vertical-align: middle; }
      .top .r-tools .head-btn em {
        display: inline-block;
        width: 10px;
        height: 6px; }
      .top .r-tools .head-btn ul {
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        width: 130px;
        padding-bottom: 10px;
        z-index: 5000; }
        .top .r-tools .head-btn ul li a {
          display: block;
          height: 30px;
          line-height: 30px;
          padding-left: 50px; }
      .top .r-tools .head-btn:hover ul {
        display: block; }

.main {
  overflow: hidden; }

.l-nav {
  position: relative;
  float: left;
  width: 200px;
  height: 100%;
  transition: width 300ms; }
  .l-nav .nav-wrap {
    height: 100%;
    overflow-y: auto; }
    .l-nav .nav-wrap ul {
      padding-bottom: 50px; }
      .l-nav .nav-wrap ul li a {
        display: block;
        padding-left: 20px;
        height: 60px;
        line-height: 60px;
        font-family: "MicroSoft Yahei";
        overflow: hidden; }
        .l-nav .nav-wrap ul li a em {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 15px;
          vertical-align: middle; }
        .l-nav .nav-wrap ul li a span {
          display: inline-block;
          width: 120px;
          font-size: 14px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: middle; }
  .l-nav .editor-wrap {
    position: absolute;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 300ms; }
    .l-nav .editor-wrap h1 {
      height: 50px;
      padding-left: 10px;
      line-height: 50px;
      font-size: 14px;
      font-family: "MicroSoft Yahei"; }
      .l-nav .editor-wrap h1 a {
        float: right;
        display: block;
        width: 10px;
        height: 10px;
        margin-top: 20px;
        margin-right: 12px; }
    .l-nav .editor-wrap dl {
      width: 204px;
      padding-bottom: 50px; }
      .l-nav .editor-wrap dl dt {
        height: 18px;
        line-height: 18px;
        padding: 25px 0 7px 10px; }
  .l-nav .l-tools-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; }
    .l-nav .l-tools-bottom a {
      display: block;
      width: 50px;
      height: 100%;
      text-align: center; }
      .l-nav .l-tools-bottom a em {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 16px; }
      .l-nav .l-tools-bottom a.tools-btn {
        float: left; }
      .l-nav .l-tools-bottom a.review-btn {
        float: left; }
      .l-nav .l-tools-bottom a.save-btn {
        float: left; }
      .l-nav .l-tools-bottom a.fold-btn {
        float: right; }
  .l-nav.collapsed {
    width: 60px; }
    .l-nav.collapsed .nav-wrap ul li a span {
      display: none; }
  .l-nav.collapsed .l-tools-bottom a {
    width: 60px; }
    .l-nav.collapsed .l-tools-bottom a.tools-btn {
      display: none; }
    .l-nav.collapsed .l-tools-bottom a.review-btn {
      display: none; }
    .l-nav.collapsed .l-tools-bottom a.save-btn {
      display: none; }

.widget {
  position: relative;
  float: left;
  display: block;
  width: 94px;
  height: 80px;
  margin-right: 1px;
  margin-bottom: 1px;
  text-align: center; }
  .widget img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 17px;
    margin-bottom: 10px;
    vertical-align: top; }
  .widget .sec-img {
    display: none; }
  .widget:hover img {
    display: none; }
  .widget:hover .sec-img {
    display: inline-block; }
  .widget p {
    padding: 0 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .widget i {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 16px;
    height: 16px; }
  .widget.used {
    cursor: default; }
    .widget.used i {
      display: block; }
    .widget.used:hover img {
      display: inline-block; }
    .widget.used:hover .sec-img {
      display: none; }

.widget {
  background-color: #393d48; }
  .widget p {
    color: #968b81; }
  .widget i {
    background: url(images/theme-yellow/ui.png) -37px -412px no-repeat; }
  .widget:hover {
    background-color: #434853; }
    .widget:hover p {
      color: #e7b78a; }
  .widget.used:hover {
    background-color: #393d48; }
    .widget.used:hover p {
      color: #968b81; }

.editor-wrap {
  background-color: #333740; }
  .editor-wrap h1 {
    color: #c6cddc;
    background-color: #434853; }
    .editor-wrap h1 a {
      background: url(images/theme-yellow/ui.png) -185px -115px no-repeat; }
      .editor-wrap h1 a:hover {
        background-position: -207px -115px; }
  .editor-wrap dl dt {
    color: #8f95a3; }

.r-mn {
  float: right;
  width: 100%;
  height: 100%;
  margin-left: -200px;
  transition: margin 300ms; }
  .r-mn .r-container {
    margin-left: 200px;
    height: 100%;
    transition: margin 300ms; }
    .r-mn .r-container .l-wrap {
      position: relative;
      float: left;
      width: 200px;
      height: 100%; }
    .r-mn .r-container .mn {
      float: right;
      width: 100%;
      height: 100%;
      margin-left: -200px; }
      .r-mn .r-container .mn .r-wrap {
        margin-left: 200px;
        height: 100%; }
        .r-mn .r-container .mn .r-wrap .copyrights {
          padding-left: 20px;
          font-family: "Microsoft Yahei"; }
        .r-mn .r-container .mn .r-wrap .right-content-border {
          overflow-y: auto; }
    .r-mn .r-container.scroll-c {
      overflow-y: auto;
      overflow-x: hidden; }
  .r-mn.open {
    margin-left: -60px; }
    .r-mn.open .r-container {
      margin-left: 60px; }
  .r-mn.full {
    margin-left: 0; }
    .r-mn.full .r-container {
      margin-left: 0; }

.lv2-nav {
  width: 199px;
  height: 100%;
  border-right: 1px solid;
  font-family: "Microsoft Yahei"; }
  .lv2-nav ul li .lv1 {
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 40px;
    word-spacing: -4px; }
    .lv2-nav ul li .lv1 i {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: #333;
      vertical-align: middle; }
    .lv2-nav ul li .lv1 span {
      display: inline-block;
      width: 70px;
      padding-left: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle; }
      .lv2-nav ul li .lv1 span.w {
        width: 150px; }
    .lv2-nav ul li .lv1 b {
      display: inline-block;
      width: 54px;
      height: 18px;
      margin-left: 5px;
      border-radius: 2px;
      font-family: "SimSun";
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      vertical-align: middle; }
    .lv2-nav ul li .lv1 em {
      display: inline-block;
      width: 22px;
      height: 18px;
      margin-left: 5px;
      background: #333;
      line-height: 18px;
      text-align: center;
      vertical-align: middle; }
  .lv2-nav ul li .sub-menu {
    display: none;
    padding: 8px 0; }
    .lv2-nav ul li .sub-menu a {
      display: block;
      padding-left: 33px;
      height: 28px;
      line-height: 28px; }
      .lv2-nav ul li .sub-menu a span {
        display: inline-block;
        width: 134px;
        margin-left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: middle; }
      .lv2-nav ul li .sub-menu a em {
        display: inline-block;
        width: 22px;
        height: 18px;
        background: #333;
        line-height: 18px;
        text-align: center;
        vertical-align: middle; }
  .lv2-nav ul li:hover .sub-menu, .lv2-nav ul li.on .sub-menu {
    display: block; }

.login-gray {
  background-color: #e7e7e7; }

.login-bg {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 1920px;
  height: 539px;
  margin-left: -960px;
  background: url(images/login-bg.jpg) top center no-repeat; }

.input-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 340px;
  margin-left: -170px; }
  .input-wrap div {
    margin-bottom: 10px; }
  .input-wrap .leo-wrap {
    text-align: center;
    margin-top: -60px; }
    .input-wrap .leo-wrap em {
      display: inline-block;
      width: 120px;
      height: 120px;
      background: url(images/login_ui.png) no-repeat; }
    .input-wrap .leo-wrap .leo-0 {
      display: none;
      background-position: 0 0; }
    .input-wrap .leo-wrap .leo-1 {
      background-position: -135px 0; }
  .input-wrap p.error {
    color: #fc0100;
    margin-bottom: 10px; }
  .input-wrap .inWrap {
    position: relative; }
    .input-wrap .inWrap p {
      position: absolute;
      left: 1px;
      top: 1px;
      display: block;
      width: 48px;
      height: 48px;
      background-color: #f9f9f9;
      text-align: center; }
      .input-wrap .inWrap p em {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-top: 17px;
        background: url(images/login_ui.png) 0 -134px no-repeat; }
        .input-wrap .inWrap p em.ps {
          background-position: -22px -134px; }
    .input-wrap .inWrap .login-input {
      display: block;
      width: 268px;
      height: 18px;
      padding: 15px 10px 15px 60px;
      border: 1px solid #fff;
      border-radius: 2px; }
      .input-wrap .inWrap .login-input:focus {
        border-color: #4587e4; }
      .input-wrap .inWrap .login-input:-ms-input-placeholder {
        color: #999; }
      .input-wrap .inWrap .login-input.error {
        border-color: #fc0100; }
    .input-wrap .inWrap .placeholder {
      display: none;
      position: absolute;
      left: 61px;
      top: 16px;
      color: #999; }
  .input-wrap .remember input {
    vertical-align: middle; }
  .input-wrap .remember label {
    color: #666;
    vertical-align: middle; }
  .input-wrap .login-btn {
    display: block;
    height: 50px;
    background-color: #faa831;
    color: #fff;
    font: 18px/50px "Microsoft Yahei";
    text-align: center;
    border-radius: 2px; }
    .input-wrap .login-btn:hover {
      background-color: #ffb12b; }

.auto-table.willdo th {
  padding-top: 6px;
  line-height: 18px;
  vertical-align: top; }
.auto-table.willdo input.normal-input {
  width: 168px;
  vertical-align: middle; }
.auto-table.willdo .count {
  color: #666;
  width: 96%;
  text-align: right; }
.auto-table.willdo .normal-btn {
  height: 28px;
  margin-left: 5px;
  vertical-align: middle; }
.auto-table.willdo .normal-radio {
  height: 30px;
  margin-right: 5px;
  vertical-align: middle; }
.auto-table.willdo .normal-chk {
  height: 30px;
  margin-right: 5px;
  vertical-align: middle; }
.auto-table.willdo .input-date {
  width: 143px;
  background-position: 158px center; }
.auto-table.willdo .low-select .sel-button {
  width: 180px; }
.auto-table.willdo .low-select ul li {
  width: 168px; }

.tab-head {
  font-size: 14px;
  font-family: "Microsoft Yahei";
  border-width: 1px 0;
  border-style: solid; }
  .tab-head a {
    display: block;
    float: left;
    height: 40px;
    margin: -1px 0;
    padding: 0 22px;
    line-height: 40px;
    border-width: 1px 1px 1px 0;
    border-style: solid; }

.t-list ul {
  padding: 20px; }
  .t-list ul li {
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    border-bottom: 1px dashed #ebe7dd; }
    .t-list ul li em {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 10px;
      background: #333; }
    .t-list ul li .text {
      display: inline-block;
      width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle; }
    .t-list ul li .dt {
      float: right; }
    .t-list ul li a.text:hover {
      color: #ed6d00; }

.details {
  padding: 30px; }
  .details h3 {
    height: 40px;
    font-weight: 400;
    font-family: "MicroSoft Yahei";
    font-size: 20px;
    text-align: center; }
  .details .dt {
    height: 18px;
    padding-bottom: 27px;
    border-bottom: 1px dashed;
    line-height: 18px;
    color: #999;
    text-align: center; }
  .details .text {
    padding-top: 30px;
    padding-bottom: 40px;
    line-height: 24px; }
  .details .fujian dl {
    line-height: 24px; }
    .details .fujian dl.fj {
      padding-bottom: 30px; }
    .details .fujian dl dt {
      float: left;
      font-weight: 700; }
    .details .fujian dl dd {
      float: left; }

.mods-contain {
  min-height: 900px; }
  .mods-contain > li {
    box-sizing: border-box;
    border: 1px dashed;
    overflow: hidden; }
    .mods-contain > li .addMod-btn {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: block;
      width: 120px;
      height: 40px;
      border: 1px solid;
      font-family: "MicroSoft Yahei";
      line-height: 40px;
      font-size: 14px;
      text-align: center; }
      .mods-contain > li .addMod-btn em {
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 5px;
        vertical-align: middle; }
    .mods-contain > li .move-btn {
      display: none;
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -25px;
      width: 50px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      z-index: 50; }
      .mods-contain > li .move-btn em {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #333;
        vertical-align: middle; }
    .mods-contain > li:hover .move-btn {
      display: block; }
    .mods-contain > li .addDel {
      display: none;
      box-sizing: content-box;
      position: absolute;
      right: 10px;
      top: 10px;
      border-width: 1px;
      border-style: solid;
      z-index: 99; }
      .mods-contain > li .addDel .delBtn {
        display: block;
        width: 18px;
        height: 18px; }
      .mods-contain > li .addDel .addBtn {
        display: block;
        width: 18px;
        height: 18px; }
    .mods-contain > li:hover .addDel {
      display: block; }
    .mods-contain > li.full {
      border-style: solid; }
    .mods-contain > li.drop-hover {
      border-color: yellow;
      box-shadow: 0 0 5px yellow; }
    .mods-contain > li .gs-resize-handle {
      z-index: 60; }

.mod-wrap {
  position: relative;
  height: 100%;
  box-sizing: content-box;
  background-color: #fff;
  z-index: 40; }
  .mod-wrap .mod-head {
    position: relative;
    border-bottom: 1px solid; }
    .mod-wrap .mod-head .more {
      position: absolute;
      right: 12px;
      top: 12px;
      display: block;
      width: 16px;
      height: 16px; }
    .mod-wrap .mod-head .title-head {
      padding: 0 15px; }
      .mod-wrap .mod-head .title-head h3 {
        float: left;
        height: 40px;
        margin-bottom: -1px;
        padding: 0 4px;
        border-bottom: 2px solid;
        font: 400 16px/40px "MicroSoft Yahei"; }
    .mod-wrap .mod-head .tab-head {
      border-top: 0 none;
      border-bottom: 0 none;
      background: none; }
      .mod-wrap .mod-head .tab-head a {
        position: relative;
        padding: 0 35px; }
        .mod-wrap .mod-head .tab-head a em {
          position: absolute;
          top: 7px;
          right: 28px;
          display: block;
          width: 8px;
          height: 8px; }
        .mod-wrap .mod-head .tab-head a:hover b {
          display: block;
          position: absolute;
          top: 5px;
          right: 5px;
          width: 6px;
          height: 6px; }

.query-table, .bar-x {
  padding: 20px; }
  .query-table .queryInput, .bar-x .queryInput {
    margin-bottom: 10px; }
    .query-table .queryInput label, .bar-x .queryInput label {
      vertical-align: middle; }
    .query-table .queryInput input, .bar-x .queryInput input {
      vertical-align: middle; }
    .query-table .queryInput .normal-btn, .bar-x .queryInput .normal-btn {
      vertical-align: middle; }
    .query-table .queryInput.ec label, .bar-x .queryInput.ec label {
      line-height: 30px; }
  .query-table .tonglan-table table .quanguo, .bar-x .tonglan-table table .quanguo {
    font-weight: 700; }
  .query-table .tonglan-table table th, .bar-x .tonglan-table table th {
    border-width: 1px;
    border-style: solid; }
  .query-table .tonglan-table table td, .bar-x .tonglan-table table td {
    border-width: 1px;
    border-style: solid; }
  .query-table .tonglan-table table td a:hover, .bar-x .tonglan-table table td a:hover {
    text-decoration: none; }

.load-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .load-wrap > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 50px;
    margin: auto;
    text-align: center; }
    .load-wrap > div p {
      font: 14px "MicroSoft Yahei"; }

.load-err {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #fffffc;
  z-index: 90; }
  .load-err > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 120px;
    height: 60px;
    margin: auto;
    text-align: center; }
    .load-err > div p {
      padding-bottom: 10px;
      font-family: "MicroSoft Yahei"; }

.beforeRender {
  opacity: 0 !important;
  display: block !important; }

/*# sourceMappingURL=index.workbench.lj.css.map */
