$yellow1:#fda918;
$yellow2:#ffb12b;

.moni-select{
  position:relative;
  .sel-button{
    padding:5px;
    height:30px;
    line-height:18px;
    width:142px;
    border:1px solid #d6d2c5;
    text-align:left;
    background:url(images/moni-sel-arrow.jpg) no-repeat right center;
    cursor:pointer;
  }
  ul{
    display:none;
    position:absolute;
    left:0;
    top:30px;
    border:1px solid #d6d2c5;
    border-top:0 none;
    z-index:99;
    li{
      height:18px;
      width:130px;
      padding:5px;
      line-height:18px;
      border-bottom:1px solid #D6D2C5;
      background:#FFF;
      cursor:pointer;
      &.last{border-bottom:0 none;}
      &:hover{color:#fff;background-color:#ffb12b}
    }
  }
}
.long-select{
  .sel-button{
    width:392px;
  }
  ul{
    li{
      width:380px;
    }
  }
}
.tonglan-table{
  padding-bottom:10px;
  background:#FFF;
  overflow:auto;
  table{
    width:100%;
    th,td{
      padding:0 10px;
      height:30px;
      border:1px solid #ebe8dc;
      border-left:0 none;
      text-align:center;
      word-break:break-all;white-space:nowrap;overflow:hidden;
      &.last{
        border-right: 0 none;
      }
      a{
        color:#995b31;
        &:hover{
          text-decoration:underline;
        }
      }
    }
    th{
      background:#FAF7EB;
      font-weight:700;

    }
  }
}
.right-content-wrap{
  min-width:760px;
  padding:20px;

 .right-content-border{
   background:#FFF;
   border:1px solid #ded8c8;
  }
}
.search-condition{
  margin: 0 auto;
  padding: 20px 0 10px;
  background:#FFF;
  .auto-table{
    padding: 0 10px;
    table{ width:100%;}
    th{ text-align:right;font-weight:400;padding-bottom:10px;}
    td{
      position:relative;
      font-weight:400;
      padding-bottom:10px;
      label{
        vertical-align:middle;
        margin-right:15px;
        input{
          vertical-align:middle;
          margin-right:5px;
        }
      }
    }

  }
}
.disabled-btn{color:#ccc!important;cursor:text!important;}

.red-star{margin-right:3px;color:#ff0000;font-family:SimSun;vertical-align:middle;}


.error-input{border:1px solid #ff5555;}
.error-p{position:absolute;top:30px;left:0;color:#ff5555;}
.bg-gray{background:#f7f7f7;}

.sn-footer{position:absolute;left:270px;color:#666;font-family:"MicroSoft Yahei";line-height:50px;overflow:hidden;}

.normal-select{height:30px;line-height:30px;width:142px;border:1px solid #d6d2c5;vertical-align:middle;}
.normal-select.full{width:100%}
.tiny-select{height:30px;line-height:30px;width:52px;border:1px solid #d6d2c5;vertical-align:middle;}
.normal-input{padding:5px;height:18px;line-height:18px;width:130px;border:1px solid #d6d2c5;}
.small-input{padding:5px;height:18px;line-height:18px;width:65px;border:1px solid #d6d2c5;}
.input-date{padding:5px 30px 5px 5px;height:18px;line-height:18px;width:105px;border:1px solid #d6d2c5;background:url(images/date_02.png) no-repeat 120px center;}
.input-date.list{background-image:url(images/list.png)}
.input-date.calc{background-image:url(images/calc.png)}
.normal-btn{display:inline-block;height:30px;padding:0 20px;background:#f6f6f6;font-weight:700;color:#666;overflow:hidden;line-height:30px;border-radius:2px;border:1px solid #d6d6d6;}
.long-input{padding:5px;height:18px;line-height:18px;width:300px;border:1px solid #d6d2c5;}
.max-input{padding:5px;height:18px;line-height:18px;width:380px;border:1px solid #d6d2c5;}

.normal-btn:hover{background:#fff0c8;color:#a86e47;border-color:#d1c092;}
.btn-1{display:inline-block;height:30px;padding:0 20px;background:$yellow1;font-weight:700;color:#FFF;overflow:hidden;line-height:30px;border-radius:2px;border-color:$yellow2;}
.btn-1:hover{background-color:$yellow2;color:#fff;border-color:$yellow2;}
.btn-2{display:inline-block;height:30px;padding:0 20px;background:#fcf8ed;font-weight:700;color:#765b49;overflow:hidden;line-height:30px;border-radius:2px;border-color:#d1c9b4;}

.table-operation-btns{
  background:#fff;
  padding:10px;
  a{
    margin-right:10px;
  }
}
.orange-color{color:#ed6d00;}
.green-color{color:#64b100;}
.word,.ppt,.pdf{
  display:block;
  width:16px;
  height:16px;
  text-align:center;
  margin:0 auto;}
.flag{display:block;margin:0 auto;width:10px;height:10px;overflow:hidden;}
.blue-flag{background:#75baff;}
.yellow-flag{background:#ffd175;}
.red-flag{background:#f56d5b;}

.flow-steps{
  display:none;
  position:absolute;
  padding:20px;
  border:1px solid #b3aea1;
  box-shadow:0 3px 3px #b3aea1;
  background:#FFF;
  z-index:99;
  .f-arrow{
    position:absolute;right:-6px;top:30px;width:6px;height:10px;overflow:hidden;background:url(images/flow.png) no-repeat 0 -37px;
  }
  a.close{position:absolute;right:5px;top:5px;width:8px;height:8px;}

  th{padding:0 20px;border-bottom:1px dashed #a6937c;height:35px;line-height:35px;overflow:hidden;text-align:center;}
  td{padding:0 20px;height:35px;line-height:35px;text-align:center;}
  .fst{position:relative;border-right:1px dashed #a6937c;text-align:right;}
  .state{position:absolute;right:-10px;top:10px;width:16px;height:16px;background:url(images/flow.png) no-repeat 0 0;}
  .state-2{background-position:0 -17px;}
}
.hgt-32{height:20px;line-height:20px;}
.bottom-submit-mod{
  margin:20px;
  padding-top:20px;
  border-top:1px dashed #e8e0d0;
}
.skin-option{
  display:inline-block;
  margin-left:50px;
   a{
     display:block;
     position:relative;
     border:4px solid #fff;
     em{display:none;position:absolute;left:45%;top:45%;width:32px;height:32px;background:url(images/theme-yellow/ui.png) no-repeat -173px -354px;}
     &:hover{
       border:4px solid #6ac150;
       background:#000;
       img{
         opacity:0.7;
         filter:alpha(opacity=70);
       }
       em{display:block;}

     }
     img{
       vertical-align:top;
     }
   }
   .active{
    em{display:block;}
   }
 p{
    padding-top:5px;
    text-align:center;
  }
}
.change-skin{
  background:#edebdf;
  .skin-title{
    padding-top:25px;
    height:35px;
    background:#fcfcf7;
    span{
      display:inline-block;
      padding:0 10px 6px;
      margin-left:30px;
      font-size:18px;
      font-family:"Microsoft YaHei";

    }
    b{color:#999;font-weight:400;}
  }
  .skin-sel{
    padding:30px 50px;
    .default-skin,.customize-skin{
      margin-bottom:20px;
      border:1px solid #DED8C8;
      padding-top:20px;
      padding-bottom:30px;
      background:#FFF;
      h3{
        margin-bottom:10px;
        padding-left:10px;
        font-size:14px;
        font-weight:400;
        font-family:"Microsoft YaHei";

      }
    }
  }
}

/*index*/
.gridster{overflow: auto;}
/*管理自助弹出框*/
.index-pop
{
  min-width:500px;
  max-width:860px;
  h3{
    font-size: 14px;font-family: "Microsoft YaHei";
    span{
      padding-left: 20px;
      font-size: 12px;
      color: #999;
    }
  }
  .pop-contain{
    li{
      float: left;
      margin: 0 10px 10px 0;
      a{
        position: relative;
        display: block;
        em{
          display: none;
          position: absolute;
          right:-5px;
          top: -5px;
          width: 16px;
          height: 16px;

        }
        &:hover{
          em{display: block;}
        }
      }

    }
  }
}
#pop2 .pop-contain li a em{right:5px;}
.m-daydayup,
.m-dbrw,
.m-wddb{
  padding:20px;
  li{
    padding:8px;
    .context{
      float:left;
      width:80%;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      em{
        background: url("images/theme-yellow/ui.png") no-repeat scroll -243px -367px;
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 10px;
      }
      strong{
        padding-right:5px;
      }
      .cw{padding-right:10px;}
      .ys{padding-right:10px;}
      a:hover{color: #ed6d00;}
    }
    .quantity{
      float:right;
      width:70px;
      color: #666;
      text-align:right;
      span{
        float: left;
        width:100px;
        text-align:left;
        em{
          color: #995b31;
        }
      }
    }
    &.fst{
      .show-pic{
        float: left;
        margin-right:15px;
        vertical-align: top;
      }
      .wrap{
        float:left;
        p{
          float: none;width:auto;text-align:left;
          span{float:none;margin-right:20px;}
        }
      }

    }
    .flag-mark{

    }
  }
}
.m-daydayup,
.m-dbrw{
  .ul-wrap{
    .context{width:60%}
    .quantity{
      width:180px;
      .man{display:inline-block;width:100px;text-align:left;}
    }
  }
}
.red-color{color: #ff5555;}
.info-tips-alert{
  width:360px;
  z-index: 99;
  position: absolute;
  right:20px;
  bottom: 10px;
  background: #FFF;
  box-shadow: 0 0 3px #d5d3c8;
  .close{
    text-align: right;
    height:38px;
    line-height: 38px;
    a{
      float: right;
      width:16px;
      height:16px;
      margin:11px 10px 0 10px;

    }
  }
  .context{
    display: none;
    padding:18px;
    &.active{
      display: block;
    }
    h3{
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
    }
    p{text-indent: 2em;}
  }
  .bottom{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
    .page-count{float: right;margin-right:20px;}
    .btn-handler{
      float: right;
      height: 24px;
      margin-right:15px;
      margin-top:5px;
      a{
        display:inline-block;
        width: 24px;
        height: 24px;

      }
    }
  }
}
.custom-com{
  padding:20px;
  .roll{
    position: absolute;
    right:10px;
    bottom:10px;
    height: 24px;
    margin-right:15px;
    a{
      display:inline-block;
      width: 24px;
      height: 24px;
    }
  }
  ul{
    display: none;
    margin-right:-10px;
    li{
      a{
        position: relative;
        em{
          display: none;
          position: absolute;
          right:-5px;
          top: -5px;
          width: 16px;
          height: 16px;

        }
        &:hover{

          em{display: block;}
        }
        &.add{
          em{
            background: none!important;
          }
          &:hover{
            em{display: none;}
          }
        }
      }
    }
  }
}
.usual-menu{
  ul{
    li{
      float: left;
      margin:0 10px 10px 0;
      width: auto;
      height: 30px;
      a{
        display: block;
        width:auto;
        max-width: 200px;
        height: 30px;
        color: #618d2c;
        background: #ddf3c2;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        padding:0 5px;
        &:hover{
          background: #9bca63;
          color: #FFF;
          &.add{
            border: 2px dashed #a89e91;
            span{
              background: url(images/flow.png) no-repeat -20px -52px;
            }
          }
        }
        &.add{
          background: #FFF;
          border: 2px dashed #d8d8d7;
          width: 60px;
          height:26px;
          span{
            display: block;
            margin: 5px auto;
            width:16px;
            height:16px;
            background: url(images/flow.png) no-repeat 0 -52px;

          }
        }
        em{
          top:0;
          right:0;
        }
      }
    }
  }
}
.hr-life{
  ul {
    li{
      float: left;
      margin:0 10px 10px 0;
      width: 96px;
      height: 30px;
      a{
        display: block;
        width:96px;
        height: 30px;
        color: #fff;
        background: #ddf3c2;
        text-align: center;
        line-height: 30px;
        font-weight: 700;
        &:hover{
          background: #9bca63;
          color: #FFF;
          &.add{
            border: 2px dashed #a89e91;
            span{
              background: url(images/flow.png) no-repeat -20px -52px;
            }
          }
        }
        &.add{
          background: #FFF;
          height:26px;
          border: 2px dashed #d8d8d7;
          span{
            display: block;
            margin: 6px auto;
            width:16px;
            height:16px;
            background: url(images/flow.png) no-repeat 0 -52px;

          }
        }
      }
    }
  }
}
.cfx-sys{
  ul {
    margin-right:-25px;
    li{
      float: left;
      margin:0 25px 15px 0;
      width: 50px;
      a{
        display: block;
        width:50px;
        color: #333;
        background: none;
        text-align: center;
        font-weight: 400;
        img{
          display: block;
          vertical-align: top;
          width: 50px;
          height: 50px;
          margin:0 auto;
          overflow: hidden;
        }
        span{display: block;width:50px;}
        &:hover{
          background: #9bca63;
          color: #FFF;
          &.add{
            border: 2px dashed #a89e91;
            span{
              background: url(images/flow.png) no-repeat -20px -52px;
            }
          }
        }
        &.add{
          background: #FFF;
          height:46px;
          width:50px;
          border: 2px dashed #d8d8d7;
          span{
            display: block;
            margin: 15px auto;
            width:16px;
            height:16px;
            background: url(images/flow.png) no-repeat 0 -52px;

          }
        }
        &:hover{
          color: #f7ba4f;
        }
      }
    }
  }
}
#pop1{
  li{
    float: left;
    margin:0 10px 10px 0;
    width: 96px;
    height: 30px;
    a{
      display: block;
      width:96px;
      height: 30px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      font-weight: 700;
      &.add{
        background: #FFF;
        height:26px;
        border: 2px dashed #d8d8d7;
        span{
          display: block;
          margin: 6px auto;
          width:16px;
          height:16px;
          background: url(images/flow.png) no-repeat 0 -52px;
        }
      }
    }
  }
}
#pop2{
  width: 620px;
  li{
    width: 75px;
    a{
      width: 75px;
      margin:0 10px 10px 0;
      span{
        display: block;
        width:75px;
        text-align: center;
        padding-top: 5px;
      }
      img{
        display: block;
        vertical-align: top;
        margin: 0 auto;
      }
    }
  }
}
#pop3{
  width: 510px;
  .pop-contain{
    padding:20px;
    .tab-content-list{
      display: none;
    }
    .has-add-menu li{
      a.has-add{
        em{
          background: none;
        }
        &:hover{
          em{
            background: url(images/theme-yellow/ui.png) no-repeat -99px -412px;
          }
        }
      }
    }
  }
  .tab-btn{
    a{
      float: left;
      width: 50%;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      text-align: center;
      font-weight: 700;
      &.active{
      }
    }
  }
  .search-keyword{
    position: relative;
    input{
      width: 450px;
      height: 18px;
      line-height: 18px;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #DDD;
    }
    a{
      position: absolute;
      right: 1px;
      top: 1px;
      width: 27px;
      height: 28px;
      background: url(images/flow.png) no-repeat -21px 0;
    }
  }
  .search-resault{
    .table-wrap{
      height: 350px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    table{
      width: 100%;

      tr{
        height: 30px;
        text-align: center;
        line-height: 30px;
        td{
          a{
            display: block;
            em{
              display: inline-block;
              vertical-align: middle;
              margin-right:5px;
              width: 16px;
              height: 16px;
            }
          }
        }

      }
    }
  }
  .has-add-menu{
    padding:10px;
    max-height: 370px;
    min-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ded8c8;
  }
}
/*.mod-body{
  overflow-x: hidden;
  overflow-y: auto;
}*/
.gridster>ul>li:hover .mod-wrap .mod-head .more{
  right:40px;
}
.view-mode{
  .mods-contain > li:hover .move-btn{
    display: none;
  }
  .mods-contain > li .move-btn:hover{
    display: none;
  }
  .mods-contain > li .addDel .delBtn{display: none;}
  .mods-contain > li .mod-wrap .tab-head a b{display:none}
  .mods-contain{
    background: none!important;
    width: 100%!important;
  }
  .editor-wrap{left:-200px;}
  .gridster>ul>li:hover .mod-wrap .mod-head .more{
    right:12px;
  }
  .gridster>ul>li:hover .addDel{display: none;}
}
.mod-wrap .mod-head .tab-head a{
  width:115px;
  overflow: hidden;
  text-align: center;
  padding:0 5px;
  &:last-child{
    /*border-right:0 none;*/
  }

}
.r-container{

  .reload-pnf{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    .wrap{
      position: absolute;
      left:50%;
      top:50%;
      margin:-150px 0 0 -150px;
      width:300px;
      height: 300px;
      text-align: center;
      table{

      }
    }
  }

}




