.lg-btn.ok {
  border-color: #fda918;
  background-color: #fda918;
  color: #fff; }
  .lg-btn.ok:hover {
    border-color: #ffb12b;
    background-color: #ffb12b; }
.lg-btn.cancel {
  border-color: #d1c9b4;
  background-color: #fcf8ed;
  color: #333; }
  .lg-btn.cancel:hover {
    border-color: #d1c092;
    background-color: #fff0c8; }

.normal-tr,
.normal-input {
  border-color: #c5ced6; }
  .normal-tr:focus,
  .normal-input:focus {
    border-color: #4587e4; }
  .normal-tr.error,
  .normal-input.error {
    border-color: #ff5555; }
  .normal-tr.disabled,
  .normal-input.disabled {
    background-color: #f2f5f7;
    color: #999; }

.top {
  font-family: "Microsoft Yahei";
  background-color: #3b98f5; }
  .top .logo em {
    background: url(images/theme-blue/logo.png) no-repeat; }
  .top .title {
    color: #fff;
    font-weight: 700; }
  .top .sw-btn {
    color: #c2e0ff; }
    .top .sw-btn em {
      background: url(images/theme-blue/ui.png) -259px -367px no-repeat; }
    .top .sw-btn ul {
      background-color: #2d82fa; }
      .top .sw-btn ul a {
        color: #fff; }
        .top .sw-btn ul a:hover {
          background-color: #579dff;
          color: #fff; }
    .top .sw-btn:hover {
      color: #fff;
      background-color: #2d82fa; }
    .top .sw-btn:hover em {
      background-position: -295px -367px; }
  .top .r-tools {
    float: right; }
    .top .r-tools .theme {
      background: url(images/theme-yellow/ui.png) -254px -40px no-repeat; }
      .top .r-tools .theme:hover {
        background-color: #2d82fa; }
    .top .r-tools .msg {
      background: url(images/theme-yellow/ui.png) -291px -40px no-repeat; }
      .top .r-tools .msg em {
        color: #fff;
        background: url(images/theme-yellow/ui.png) -9px -361px no-repeat; }
      .top .r-tools .msg:hover {
        background-color: #2d82fa; }
    .top .r-tools .head-btn {
      color: #c2e0ff; }
      .top .r-tools .head-btn em {
        background: url(images/theme-yellow/ui.png) -259px -367px no-repeat; }
      .top .r-tools .head-btn ul {
        background-color: #2d82fa; }
        .top .r-tools .head-btn ul a {
          color: #fff; }
          .top .r-tools .head-btn ul a:hover {
            background-color: #579dff;
            color: #fff; }
      .top .r-tools .head-btn:hover {
        color: #fff;
        background-color: #2d82fa; }
      .top .r-tools .head-btn:hover em {
        background-position: -295px -367px; }

.l-nav {
  background-color: #d3ddeb; }

.nav-wrap ul li a em {
  background: url(images/theme-blue/ui.png) no-repeat; }
  .nav-wrap ul li a em.one {
    background-position: -20px -12px; }
  .nav-wrap ul li a em.two {
    background-position: -56px -12px; }
  .nav-wrap ul li a em.three {
    background-position: -92px -12px; }
  .nav-wrap ul li a em.four {
    background-position: -128px -12px; }
  .nav-wrap ul li a em.five {
    background-position: -164px -12px; }
  .nav-wrap ul li a em.six {
    background-position: -200px -12px; }
  .nav-wrap ul li a em.seven {
    background-position: -236px -12px; }
.nav-wrap ul li a:hover, .nav-wrap ul li a.on {
  background-color: #76b1f5; }
.nav-wrap ul li a:hover em.one, .nav-wrap ul li a.on em.one {
  background-position: -20px -62px; }
.nav-wrap ul li a:hover em.two, .nav-wrap ul li a.on em.two {
  background-position: -56px -62px; }
.nav-wrap ul li a:hover em.three, .nav-wrap ul li a.on em.three {
  background-position: -92px -62px; }
.nav-wrap ul li a:hover em.four, .nav-wrap ul li a.on em.four {
  background-position: -128px -62px; }
.nav-wrap ul li a:hover em.five, .nav-wrap ul li a.on em.five {
  background-position: -164px -62px; }
.nav-wrap ul li a:hover em.six, .nav-wrap ul li a.on em.six {
  background-position: -200px -62px; }
.nav-wrap ul li a:hover em.seven, .nav-wrap ul li a.on em.seven {
  background-position: -236px -62px; }
.nav-wrap ul li a span {
  color: #333; }
.nav-wrap ul li a:hover span, .nav-wrap ul li a.on span {
  color: #fff; }

.l-tools-bottom {
  background-color: #c0cee1; }
  .l-tools-bottom a em {
    background: url(images/theme-blue/ui.png) no-repeat; }
  .l-tools-bottom a.tools-btn em {
    background-position: -20px -110px; }
  .l-tools-bottom a.fold-btn em {
    background-position: -60px -110px; }
  .l-tools-bottom a.review-btn em {
    background-position: -227px -110px; }
  .l-tools-bottom a.save-btn em {
    background-position: -285px -110px; }
  .l-tools-bottom a.tools-btn:hover em, .l-tools-bottom a.tools-btn.active em {
    background-position: -100px -110px; }
  .l-tools-bottom a.review-btn:hover em, .l-tools-bottom a.review-btn.active em {
    background-position: -257px -110px; }
  .l-tools-bottom a.save-btn:hover em, .l-tools-bottom a.save-btn.active em {
    background-position: -311px -110px; }
  .l-tools-bottom a.fold-btn:hover em {
    background-position: -140px -110px; }
  .l-tools-bottom a:hover {
    background-color: #aabcd5; }

.lv2-nav {
  background-color: #fcfeff;
  border-color: #ced7e0; }
  .lv2-nav ul li .lv1 i {
    background: url(images/theme-blue/ui.png) -47px -366px no-repeat; }
  .lv2-nav ul li .lv1 span {
    color: #333; }
  .lv2-nav ul li .lv1 b {
    background-color: #faa831;
    color: #fff; }
  .lv2-nav ul li .lv1 em {
    background: url(images/theme-blue/ui.png) -131px -361px no-repeat; }
  .lv2-nav ul li:hover, .lv2-nav ul li.on {
    background-color: #e1edfa; }
  .lv2-nav ul li:hover .lv1 i, .lv2-nav ul li.on .lv1 i {
    background-position: -66px -366px; }
  .lv2-nav ul li:hover .lv1 span, .lv2-nav ul li.on .lv1 span {
    color: #008bdb; }
  .lv2-nav ul li:hover .lv1 em, .lv2-nav ul li.on .lv1 em {
    color: #fff;
    background-position: -99px -361px; }
  .lv2-nav ul li .sub-menu {
    background-color: #f0f6fc; }
    .lv2-nav ul li .sub-menu a em {
      background: url(images/theme-blue/ui.png) -131px -361px no-repeat; }
    .lv2-nav ul li .sub-menu a:hover span, .lv2-nav ul li .sub-menu a.on span {
      color: #008bdb; }

.r-wrap {
  background-color: #ecf0f3; }

.tab-head {
  background-color: #ebf5ff;
  border-top-color: #ced7e0;
  border-bottom-color: #dde6f0; }
  .tab-head a {
    color: #333;
    border-right-color: #dde6f0;
    border-top-color: #ced7e0;
    border-bottom-color: #dde6f0; }
    .tab-head a.active {
      background-color: #fff;
      border-top-color: #5cadff;
      border-bottom-color: #fff; }
  .tab-head.bg-white {
    background-color: #fff; }

.t-list ul li em {
  background: url(images/theme-yellow/ui.png) -243px -367px no-repeat; }

.details .dt {
  border-color: #e1e7ed; }
.details .fujian a {
  color: #007ebd; }
  .details .fujian a:hover {
    color: #fa761e; }

.r-container {
  background-color: #e6ebf0; }

.mods-contain > li {
  background-color: #f2f5f7;
  border-color: #aab3bd; }
  .mods-contain > li .addMod-btn {
    border-color: #c8d3de;
    background-color: #f7fafc;
    color: #999; }
    .mods-contain > li .addMod-btn em {
      background: url(images/theme-blue/ui.png) -9px -461px no-repeat; }
  .mods-contain > li .move-btn em {
    background: url(images/theme-blue/ui.png) -306px -313px no-repeat; }
  .mods-contain > li .addDel {
    border-color: #aab3bd;
    background-color: #d9eeff; }
    .mods-contain > li .addDel .delBtn {
      background: url(images/theme-blue/ui.png) -76px -261px no-repeat;
      border-color: #aab3bd; }
      .mods-contain > li .addDel .delBtn:hover {
        background-position: -186px -261px; }
    .mods-contain > li .addDel .addBtn {
      background: url(images/theme-blue/ui.png) -96px -261px no-repeat; }
      .mods-contain > li .addDel .addBtn:hover {
        background-position: -206px -261px; }

.mod-wrap {
  border-color: #ced7e0; }
  .mod-wrap .more {
    background: url(images/theme-blue/ui.png) -131px -312px no-repeat; }
    .mod-wrap .more:hover {
      background-position: -151px -312px; }
  .mod-wrap .mod-head {
    border-color: #dde6f0; }
    .mod-wrap .mod-head .title-head h3 {
      border-color: #76b5f5; }
    .mod-wrap .mod-head .tab-head a em {
      background: url(images/theme-blue/ui.png) -225px -366px no-repeat; }
    .mod-wrap .mod-head .tab-head a:hover b {
      background: url(images/theme-blue/ui.png) -181px -317px no-repeat; }
      .mod-wrap .mod-head .tab-head a:hover b:hover {
        background-position: -193px -317px; }
    .mod-wrap .mod-head .tab-head a:hover span {
      color: #008bdb; }

.query-table .tonglan-table table .quanguo {
  background-color: #faf5e6; }
.query-table .tonglan-table table th {
  border-color: #ced7e0; }
.query-table .tonglan-table table td {
  border-color: #ced7e0; }
.query-table .tonglan-table table td, .query-table .tonglan-table table td a {
  color: #333; }
.query-table .tonglan-table table td a:hover {
  color: #fa761e; }

.load-wrap {
  background-color: #f2f5f7; }
  .load-wrap p {
    color: #999; }
