@charset "utf-8";
/*common css*/
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;border:0 none;}
body,button,input,select,textarea{font:12px/1.5 arial,tahoma,\5b8b\4f53;color:#333;background:#fff;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
em,i{font-style:normal;}
fieldset,img{border:0;}
ul,ol{list-style:none;}
a{color:#333;text-decoration:none;outline:none;}
img{border:none;}
textarea{resize:none;}
button,input,select,textarea{font-size:100%;outline:none}
table{border-spacing:0;border-collapse:collapse;}
.hide{display:none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.hide-text{text-indent:-100%;overflow:hidden;}
.fr{float:right;}
.fl{float:left;}

.wb{word-wrap: break-word;word-break: break-all;}
.of{overflow:hidden;}
.vhide{visibility:hidden;}
.tc{text-align: center;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml50{margin-left:50px;}
.ml80{margin-left:80px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr16{margin-right:16px;}
.mr19{margin-right:19px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr65{margin-right:65px;}
.mt5{margin-top: 5px;}
.mt10{margin-top:10px;}
.mt12{margin-top:12px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt55{margin-top:55px;}
.mt390{margin-top:390px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}


.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl120{padding-left:120px;}
.pl160{padding-left:160px;}
.pl180{padding-left:180px;}
.pl274{padding-left:274px;}
.pl282{padding-left:282px;}
.pl356{padding-left:356px;}
.pl464{padding-left:464px;}
.pr10{padding-right:10px;}
.pr12{padding-right:12px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb40{padding-bottom: 40px;}
.pb55{padding-bottom: 55px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom: 100px;}
.pb120{padding-bottom:120px;}
.pb220{padding-bottom:220px;}


.font-green{color:#44aa00;}
.font-red{color:#de0000;}
.font-orange{color:#ea5404;}
.font-orangeLight{color:#f97b00;}
.font-c666{color:#666;}
.font-c333{color:#333;}
.redStar{color:#ff0000;}
.borderNone{border:0 none !important;}

.font-700{font-weight:700;}
.w102{width:102px;}
.w190{width:190px;}
.w148{width:148px;}
.w40{width:40px;}
.w60{width:60px;}
.w75{width:75px;}
.w82{width:82px;}
.w90{width:90px;}
.w30{width:30px;}
.w103{width:103px;}
.w116{width:116px;}
.w120{width:120px;}
.w145{width:145px;}
.w158{width:158px;}
.w208{width:208px;}
.w228{width:228px;}
.w216{width:216px;}
.w236{width:236px;}
.w238{width:238px;}
.w240{width:240px;}
.w282{width:282px;}
.w450{width:450px;}
.w476{width:476px;}
.w1092{width:1092px;}
.w542{width:542px;}
.w543{width:543px;}
.w990{width:990px;}

/*通用组件[[*/
    /*箭头*/
.sn-arrow-up,.sn-arrow-down,.sn-arrow-right,.sn-arrow-left{display:inline-block;float:left;line-height: 0;font-size: 0;overflow: hidden; }
.sn-arrow-down{float:none;}
.sn-arrow-up{border-left:6px solid transparent; border-right:6px solid transparent; _border-left:6px solid black; _filter:chroma(color=black); _border-right:6px solid black; _filter:chroma(color=black); border-bottom:6px solid #ccc; width:0; height:0;}
.sn-arrow-down{border-left:6px solid transparent; border-right:6px solid transparent; _border-left:6px solid black; _filter:chroma(color=black); _border-right:6px solid black; _filter:chroma(color=black); border-top:7px solid #ccc; width:0; height:0;}
.sn-arrow-left{border-top:transparent 5px solid; border-bottom:transparent 5px solid; _border-top:5px solid black; _filter:chroma(color=black); _border-bottom:5px solid black; _filter:chroma(color=black); border-left:5px solid #008cd6; width:0; height:0;}
.sn-arrow-right{border-top:transparent 6px solid; border-bottom:transparent 6px solid; _border-top:6px solid black; _filter:chroma(color=black); _border-bottom:6px solid black; _filter:chroma(color=black); border-right:6px solid #ccc; width:0; height:0;}

/* 分页 */
.sn-page,.sn-page input{color:#666;font: 12px tahoma,arial,\5b8b\4f53;vertical-align:middle;zoom:1;}
.sn-page:after{clear:both;content:" ";display:block;font-size:0;height:0;visibility:hidden}
.sn-page a,.sn-page span.sn-page-prev,.sn-page span.sn-page-next{text-decoration:none;color:#666;margin:0 2px; display:inline-block;vertical-align:middle;height:24px;line-height:24px;*display:inline;*zoom:1;}/*其中height是用于控制按所有按钮高度。配合line-height使用;margin用于控制所有按钮之间的左右间隔*/
.sn-page-prev,.sn-page-next,.sn-page-goto{background-color:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));background:-moz-linear-gradient(top,#ffffff,#ffffff);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');background:-o-linear-gradient(top,#ffffff,#ffffff);background:linear-gradient(top,#ffffff,#ffffff);padding:0 10px;border:1px solid #d7d7d7;box-shadow:0 0 0 1px #fff inset;}
.sn-page-prev:hover,.sn-page-next:hover,.sn-page-goto:hover{border-color:#999;color:#666}
.sn-page .sn-page-prev{margin:0 0 0 0}/*控制上一页右侧间隔的距离。*/
.sn-page a.sn-page-item{background:#fff;font-weight:lighter;width:24px;border: 1px solid #d7d7d7;text-align:center;}/*控制分页中数字按钮的背景，字体重量，左右留白，边缘宽度颜色*/
.sn-page a.sn-page-current{border:1px solid #fff;}/*控制选中页面数字按钮的边缘宽度颜色*/
.sn-page a.sn-page-item:hover{color:#99c100;}
.sn-page a.sn-page-current:hover{color:#666;cursor:default;}
a.sn-page-prev:hover,a.sn-page-next:hover{text-decoration:none;color:#666}
a.sn-page-prev span,a.sn-page-next span{float:left;cursor:pointer;}
.sn-page-prev i,.sn-page-next i{margin-top:7px;}/*控制arrow上空白*/
.sn-page-prev i{margin-right:7px;border-right:6px solid #333;}/*控制上一页的箭头右边留白宽度，但由于箭头本身css中也有留白，因此实际显示仍不能靠边显示。控制箭头的像素宽度和颜色。*/
.sn-page-next i{margin-left:7px;border-left:6px solid #333;}/*控制下一页的箭头右边留白宽度，但由于箭头本身css中也有留白，因此实际显示仍不能靠边显示。控制箭头的像素宽度和颜色。*/
.sn-page-info{line-height:24px;margin-right:5px;height:24px}/*控制“向右”的高度和左右间隔*/
.sn-page-ellipsis{margin:0 0;line-height:16px;font-weight:700}
.sn-page-which input{height:24px;line-height:24px;width:24px;text-align:center; border:1px solid #d7d7d7;}/*控制数字输入框*/
.sn-page-bold{font-weight:700;padding:0 8px}
.sn-page span.sn-page-prev,.sn-page span.sn-page-next{color:#b1b1b1;box-shadow:none;background:#fff;border-color:#d7d7d7;filter:none}
span.sn-page-prev i{margin-right:7px;border-right:6px solid #b1b1b1;}/*控制灰色上一页的箭头右边留白和箭头宽度及颜色*/
span.sn-page-next i{margin-left:7px;border-left:6px solid #b1b1b1;}/*控制灰色下一页的箭头右边留白和箭头宽度及颜色*/
/*按钮*/
.defaultBtn,.narrowBtn{display:inline-block;height:28px;border:1px solid #7fb100;text-align:center;cursor:pointer;}
.defaultBtn span,.narrowBtn span{display:inline-block;width:100%;background-color:#99c100;border-top:1px solid #b3d140;border-bottom:1px solid #99c100;color:#fff;font:16px/26px "microsoft yahei";}
.defaultBtn:hover span,.narrowBtn:hover span{background-color:#a7d300;border-top-color:#bdde40;border-bottom-color:#a7d300}
.defaultBtn{height:38px;}
.defaultBtn span{line-height:36px;}
.defaultBtn.upload{position:relative}
.defaultBtn.upload input{position:absolute;left:0;top:0;height:100%;width:100%;cursor:pointer;opacity:0;filter: alpha(opacity=0)}
.loginBtn{display:inline-block;width:258px;height:48px;border:1px solid #7fb100;border-radius:2px;text-align:center;cursor:pointer;}
.loginBtn span{display:inline-block;width:100%;background-color:#99c100;border-top:1px solid #b3d140;border-bottom:1px solid #99c100;color:#fff;font:16px/46px "microsoft yahei";}
.loginBtn:hover span{background-color:#a7d300;border-top-color:#bdde40;border-bottom-color:#a7d300}
.handle{display:block;width:40px;height:40px;background:url("images/widget.png") -42px -94px no-repeat #99c100}
.handle:hover{background-color:#a7d300;}
.handle.open{display:block;width:40px;height:40px;background:url("images/widget.png") 0 -94px no-repeat #99c100}
.handle.open:hover{background-color:#a7d300;}
.more{display:block;width:40px;height:40px;background:url("images/widget.png") -168px -94px #fff;}
.more:hover{background-color:#99c100;}
.backBtn,.prevBtn,.nextBtn,.saveBtn,.submitBtn,.textBtn{display:inline-block;width:76px;height:50px;padding-left:44px;background:url("images/widget.png") 0 -229px ;color:#fff;font:14px/50px "microsoft yahei";opacity:0.6;filter: alpha(opacity=60)}
.textBtn{padding-left:0;width:120px;background:none;}
.backBtn:hover,.prevBtn:hover,.nextBtn:hover,.saveBtn:hover,.submitBtn:hover,.textBtn:hover{background-color:#8cb000;opacity:1;filter: alpha(opacity=100)}
.backBtn{width:60px;padding-left:60px;background-position:0 -334px;}
.nextBtn{width:90px;padding-left:30px;background-position:0 -282px;}
.saveBtn{width:50px;padding-left:70px;background-position:-104px -229px;}
.submitBtn{width:50px;padding-left:70px;background-position:-104px -282px;}
.backLoginBtn{color:#99c100;font:14px "microsoft yahei"}

/*label*/
.upDownLabel{display:inline-block;text-align:right;}
.upDownLabel .cn{display:block;color:#666;font:14px/16px "microsoft yahei";text-align:right;}
.upDownLabel span.c333{color:#333;}
.upDownLabel .en{display:block;color:#999;font:12px/14px "arial";padding-right:14px;text-align:right;}

.upDownLabel2{display:inline-block;text-align:right;}
.upDownLabel2 .cn{display:block;color:#666;font:14px/16px "microsoft yahei";text-align:center;}
.upDownLabel2 span.c333{color:#333;}
.upDownLabel2 .en{display:block;color:#999;font:12px/14px "arial";text-align:center;}

.upDownLabel-red{display:inline-block;width:300px;text-align:left;}
.upDownLabel-red .cn{display:block;color:#ff6600;font:14px/16px "microsoft yahei";text-align:left;}
.upDownLabel-red .en{display:block;color:#ff6600;font:12px/14px "arial";text-align:left;}

.upDownLabel-green{display:inline-block;width:300px;text-align:left;}
.upDownLabel-green .cn{display:block;color:#99c100;font:14px/16px "microsoft yahei";text-align:left;}
.upDownLabel-green .en{display:block;color:#99c100;font:12px/14px "arial";text-align:left;}

.upDownTitle{display:inline-block;text-align:right;}
.upDownTitle span.cn {display:block;color:#fff;font:16px/18px "microsoft yahei";text-align:left;}
.upDownTitle span.en {display:block;color:#fff;font:12px/14px "arial";padding-right:14px;text-align: left;}

.stTitleWrap{width:190px;padding:6px 0 6px 30px;background-color:#99c100;}
.stTitleWrap-icon{width:215px;padding:6px 0 6px 5px;background-color:#99c100;}
.stTitleWrap-icon .icon{display:inline-block;width:40px;height:28px;margin-right:15px;background:url("images/widget.png") -175px -153px no-repeat;vertical-align:top;}
.upDownTitleH3{display:inline-block;text-align:left;}
.upDownTitleH3 span.cn {display:block;color:#fff;font:14px/14px "microsoft yahei";text-align:left;}
.upDownTitleH3 span.en {display:block;color:#fff;font:12px/14px "arial";padding-right:14px;text-align:left;}

.form-label{height:28px;color:#666;line-height:28px;font-size: 14px;text-align:right}

.stTitleWrap-white{padding:6px 0 6px 30px;background-color:#fff;border-bottom:1px solid #ececec;}
.upDownTitleH3-c666{display:inline-block;text-align:right;}
.upDownTitleH3-c666 span.cn {display:block;color:#666;font:14px/14px "microsoft yahei";text-align:left;}
.upDownTitleH3-c666 span.en {display:block;color:#666;font:12px/14px "arial";padding-right:14px;text-align:left;}

.stTitleWrap-big{}
.upDownTitleH1{display:inline-block;text-align:left;}
.upDownTitleH1 span.cn {display:block;color:#999;font:30px/32px "microsoft yahei";text-align:left;}
.upDownTitleH1 span.en {display:block;color:#999;font:18px/20px "arial";text-align:left;}
/*切换标签*/
.tabHead ul {width:720px;}
.tabHead ul li{width:120px;height:38px;border-left:1px solid #fff;border-top:2px solid #e6e6e6;background-color:#e6e6e6;color:#999;font:14px/38px "microsoft yahei";text-align:center;cursor: pointer;}
.tabHead ul li.active{border-top-color:#99c100;background-color:#fff;}


/*输入框*/
.form-input{height:28px;padding:0 5px;color:#333;line-height:28px;border:1px solid #e6e6e6;}
.form-input-h40{height:38px;padding:0 5px;border:1px solid #e6e6e6;color:#999;line-height:38px;font-size:14px;}
.datePicker{height:28px;padding:0 5px;color:#333;line-height:28px;border:1px solid #e6e6e6;background: url("images/widget.png") -1px -406px no-repeat;}
.artForm{float:left;font-size:12px;line-height:2em;font-family: "simsun";text-align:left;}
.artForm.theme2{font-size:14px;}
.artForm ul{margin:0;padding:0;list-style:none;}

/*select*/
.artForm_select{position:relative;height:30px;min-width:4em;_width:4em;white-space:nowrap;z-index:10;}/*height:整体下拉框的高度，含边框*/
.artForm_select.theme2{height:40px;}
.artForm_select .artForm_currentselect{position:absolute;left:0;top:0;width:100%;height:28px;border:1px solid #e6e6e6;background-color:#fff;line-height:28px;cursor:pointer;overflow:hidden;-moz-user-select:none;-webkit-user-select:none;}/*min-width:用于控制下拉框的宽度。height：控制高度，均不含边框*/
.artForm_select .artForm_currentselect.theme2{height:38px;line-height:38px;color:#999;}
.artForm_select .artForm_currentselect:hover{border-color:#99c100;}
.artForm_select .artForm_currentselect span{display:block;float:left;text-indent:0.5em;white-space:nowrap;overflow:hidden;}
.artForm_select .artForm_currentselect .artForm_plus{display:block;float:right;width:28px;height:26px;background: url("images/widget.png") -211px -406px;}/*右侧小箭头，可任意定制图案。为标签a。*/
.artForm_select .artForm_currentselect .artForm_plus.theme2{margin-top: 5px}
.artForm_select .artForm_options{display:block;position:absolute;width:100%;left:0;top:30px;border:1px solid #e6e6e6;overflow-x:hidden;overflow-y:auto;z-index:11;background:#fff;}/*top用于确定下拉后选框的位置*/
.artForm_select .artForm_options.theme2{top:40px;}
.artForm_select .artForm_options p, .artForm_select .artForm_options dl, .artForm_select .artForm_options dd{display:block;width:100%;float:left;margin:0;padding:0;}
.artForm_select .artForm_options dt{padding:0 0.5em;font-weight:bold;color:#666;font-style:italic;}
.artForm_select .artForm_options dd span{padding-left:1em;}
.artForm_select .artForm_options p{cursor:pointer;padding:0 0.5em 0;margin-right:-0.5em;}
.artForm_select .artForm_options p.selected{background:#ddd;}
.artForm_select .artForm_options p.hover{color:#fff;background-color:#99c100;}
.artForm_select .artForm_options p span{display:block;margin:0;white-space:nowrap;cursor:pointer;}

/*弹出框灰度*/
.cover{position:fixed;top: 0;left: 0;width:100%;height:100%;background: none repeat scroll 0 0 #000;opacity: 0.3;filter:alpha(opacity=30);z-index:600;}
/*tips*/
.tipQuestion{display:inline-block;width:24px;height:24px;background:url("images/tipIcon.png") -155px -210px no-repeat;vertical-align:middle}
.tipCircle-green,.tipCircle-gray{display:inline-block;width:16px;height:16px;background:url("images/widget.png") 0 -200px no-repeat;vertical-align:middle;}
.tipCircle-gray{background-position:-26px -200px;}
.tipOk{display:inline-block;width:24px;height:24px;background: url("images/tipIcon.png") -155px 0 no-repeat;vertical-align:middle;}
.tipWarning{display:inline-block;width:24px;height:30px;background: url("images/widget.png") -56px -193px no-repeat;vertical-align:middle;}
.line-s{display:inline-block;margin:0 5px;height:14px;width:10px;border-bottom:1px solid #e6e6e6;}
.splitLine{border-bottom: 1px solid #e6e6e6;}
/*]]通用组件*/

/*背景*/
.bg{background-color:#f3f3f3;}
.bg-white{background-color:#fff;}

/*header[[*/
.header{width:100%;height:40px;;background-color:#333;}
    /*顶部栏*/
.header-top{width:1192px; margin: 0 auto;}
.header-top p{color:#ccc;font:14px/40px "microsoft yahei";}
.header-top p a{color:#ccc;padding-right:38px;}
.header-top p a.logOff{color:#99c100;}
.header-top p a.last{padding-right: 10px;}

/*]]header*/

/*中间菜单区域*/
.menu{background-color: #99c100;}
.menu .menuWrap{width: 1192px; margin: 0 auto;}
.menu .menuWrap h3.menuTitle{height:50px;width:820px;color:#fff;font:18px/50px "microsoft yahei";text-align:center;}
.menu .menuWrap ul li{float:left;width: 220px;height:40px;padding-top: 10px;text-align:center;cursor: pointer;opacity:0.6;filter:alpha(opacity=60);}
.menu .menuWrap ul li.active{background-color:#8cb000;opacity:1;filter:alpha(opacity=100);}
.menu .menuWrap ul li:hover {opacity:1;filter:alpha(opacity=100);}
.menu .menuWrap ul li .menuPic{display:inline-block;width:28px;height:28px;margin-right:5px;*+margin-bottom:5px;background: url("images/widget.png") no-repeat;}
.menu .menuWrap ul li .pHome{background-position: 0 -20px;}
.menu .menuWrap ul li .pMana{background-position: -40px -20px;}
.menu .menuWrap ul li .pPersonCen{background-position: -82px -20px;}
.menu .menuWrap ul li .pNotice{background-position: -126px -20px;}

/*footer[[*/
.footer{height:86px;background-color:#333}
.footer-wrap{width:1192px;margin:0 auto;padding-top:36px;}
.footer-wrap p{color:#999;font-size:14px;}

/*[[footer*/

/*首页banner[[*/
/*bannerArea样式*/

.bannerArea{width: 100%;height:300px;background-color:#f8f8f8;overflow: hidden;position: relative;}
.bannerArea .picWrap{width:1192px; margin:0 auto;}
.bannerArea .picFlash {position: absolute;left: 0;width: 100%;height: 300px;overflow: hidden;z-index: 1;}
.bannerArea .picFlash ul li{width: 100%}
.bannerArea .picFlash ul li a{display: block;height: 300px;width: 100%;}

/*.bannerArea .picbtn{position:relative;padding-top:145px;margin:0 auto;width:1172px;z-index:2;}*/
.bannerArea .picbtn-bottom {position:relative;display:block;top:280px;width:60px;margin:0 auto;z-index:3;}
.bannerArea .picbtn-bottom ol li{width:10px;height:10px;background:url("images/widget.png") -15px 0 no-repeat;cursor:pointer;float:left;margin-right:5px;}
.bannerArea .picbtn-bottom li.on{background-position:0 0;}
.instructions{height:141px;text-align:center;}
/*]]首页banner*/

/*主体区域[[*/
.main{background-color: #f3f3f3;}
.mainWrap{width:1192px;margin: 0 auto;}

/*左侧区域*/
.mLeftWrap{position:relative;width:231px;margin-right: -231px;z-index:500}
.navTitle{width:219px;height:40px;color:#fff;font:14px/40px "microsoft yahei";background-color:#99c100;text-indent:37px;}
/*首页子菜单*/
.headWrap{width:220px;padding:20px 0;background-color:#fff;text-align:center;}
.headWrap img{width:120px;height:120px;}
.subMenu-home{width:220px;background-color:#fff;}
.subMenu-home dl dt{height:38px;border:1px solid #99c100;color:#99c100;font:14px/38px "microsoft yahei";}
.subMenu-home dl dt.active{background-color:#99c100;color:#fff;}
.subMenu-home dl dt em{display:block;float:left;margin-right:22px;width:38px;height:38px;background:url("images/widget.png") no-repeat #99c100;vertical-align:middle}
.subMenu-home dl dt em.pCalculator{background-position: -1px -148px;}
.subMenu-home dl dt em.pWallet{background-position: -43px -148px;}
.subMenu-home dl dt em.pLayers{background-position: -86px -148px;}
.subMenu-home dl dt em.pPerson{background-position: -131px -148px;}
.subMenu-home dl dd{position:relative;z-index:501;}
.subMenu-home dl dd a{display:inline-block;width:143px;height:40px;padding-left:75px;border-left:2px solid #fff;color:#999;font:14px/40px "microsoft yahei";}
.subMenu-home dl dd a.active,.subMenu-home dl dd a:hover{color:#99c100;border-left:2px solid #99c100;}

.subMenu-home dl dd ul.submLV2,.subMenu-home dl dd ul.submLV3{display:none;z-index:502}
.subMenu-home dl dd ul.submLV2{position:absolute;top:0;left:220px;width:218px;border:1px solid #e6e6e6;background-color: #fff}
.subMenu-home dl dd ul.submLV2 li a{display:inline-block;height:30px;padding-left:80px;border:0 none;color:#999;font:14px/30px "simsun";}
.subMenu-home dl dd ul.submLV2 li a:hover,.subMenu-home dl dd ul.submLV2 li a.active{color:#99c100;}
.subMenu-home dl dd ul.submLV2 li ul.submLV3{position:absolute;top:-1px;left:218px;width:218px;border:1px solid #e6e6e6;background-color:#fff;}

/*子菜单1*/
.subMenu{width:218px;border:1px solid #99c100;}
.subMenu ul li {border-bottom: 1px solid #99c100}
.subMenu ul li.last{border-bottom:0 none;}
.subMenu ul li a{display:block;background-color:#fff;color:#99c100;font:14px/38px "microsoft yahei";text-align: center}
.subMenu ul li a:hover{background-color:#99c100;color:#fff;}
.subMenu ul li a.active{background-color:#99c100;color:#fff;}

/*右侧区域*/
.mRightWrap{margin-left: 231px;}
.formWrap{background-color:#fff;}
.formWrap .drawer{padding:20px 0;height: 80px;}
.formWrap .drawerHandleWrap{border-bottom: 2px solid #99c100;}
.formWrap .drawerHandleWrap .handle{margin:0 auto;}

/*表格*/
.tbWrap{background-color:#fff;}
    /*标准表格*/
.normalTb{width:100%;border-bottom:1px solid #ececec;table-layout:fixed;}
.normalTb thead th{height:40px;border-bottom: 1px solid #ececec;color:#666;font:400 14px/40px "microsoft yahei";text-align:center;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
.normalTb tbody.tc{text-align:center;}
.normalTb tbody.tl{text-align:left;}
.normalTb tbody td{height:40px;color:#999;line-height:40px;font-size:14px;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;}
.normalTb tbody td a{color:#999;}
.normalTb tbody tr:hover{background-color:#f5f9e5;}
    /*个人信息表格*/
.personInfoTb{width:100%;table-layout:fixed;}
.personInfoTb tbody{color:#333;font:14px "arial","microsoft yahei";background-color:#fff;}
.personInfoTb tbody td{height:50px;border-bottom:1px solid #e6e6e6;}
.personInfoTb tbody td.firstCol{padding-left:35px;}
.personInfoTb tbody tr.lastRow td{border-bottom:0 none;color:#666;}
.personInfoTb tbody tr.lastRow td p{padding-top:5px;}
.personInfoTb tbody td span{color:#999;}
.personInfoTb tbody td a{color:#99c100;}
.personInfoTb tbody td a:hover{text-decoration:underline;}

    /*安全服务表格*/
.safeTb{width:100%;table-layout:fixed;}
.safeTb tbody{color:#999;line-height:14px;font-size:12px;}
.safeTb tbody td{height:119px;}
.safeTb tbody td.lastCol{text-align:center;}
.safeTb tbody td a{color:#99c100;font:14px/18px "microsoft yahei";}
.safeTb tbody td a:hover{text-decoration:underline;}
.safeTb tbody tr.lastRow td{border-top:1px solid #e6e6e6;}
.safeTb tbody td.firstCol{padding-left:40px;color:#666;font:18px/18px "microsoft yahei";}
.pageWrap{padding:17px 0;}
.noBb{border-bottom:0 none;}
.box{display:inline-block;width:10px;height:10px;}
.box.red{background-color:#ff0000;}
.box.yellow{background-color:#ffcc00;}
.box.blue{background-color:#0ca6ff;}

    /*组织信息表格*/
.orgTb{width:100%;border-left:1px solid #eaeeda;}
.orgTb tbody th{height:38px;padding-right:20px;border-bottom:1px solid #e4e8d4;background-color:#f5f9e5;color:#666;font:14px/38px "microsoft yahei";text-align:right;}
.orgTb tbody td{padding-left:20px;border-bottom:1px solid #e4e8d4;color:#999;line-height:38px;font-size:14px;text-align: left;}


    /*申请信息表格*/
.applyTb{width:100%;table-layout:fixed;background-color:#fff;border-top:1px solid #f3f3f3}
.applyTb thead th{padding:10px 0;border-bottom:1px solid #e4e8d4;color:#666;font:14px/18px "microsoft yahei";}
.applyTb tbody{font:14px "arial","microsoft yahei";}
.applyTb tbody th{padding:10px 0;border-bottom:1px solid #e4e8d4;color:#666;font:14px/18px "microsoft yahei";text-align:right;}
.applyTb tbody td{border-bottom:1px solid #e4e8d4;color:#999;font-size:14px;text-align:left;}
.applyTb tbody td .tbInput{width:100%;color:#666;line-height:18px;font-size:14px;}
.applyTb tbody td .text-link{color:#666;}
.applyTb tbody td .text-link:hover{color:#99c100;text-decoration:underline}


/*公告查看*/
.noticeDate{height:26px;color:#99c100;line-height:26px;font-weight:400;font-size:14px;text-align:center;}
.noticeContent{padding:15px 20px;background-color:#fff;}
.noticeContent h3{line-height:24px;font-size:14px;text-indent:1.8em;}
.noticeContent p{line-height:24px;color:#666;text-indent:2em;}

.fileDown p a{padding-left:60px;color:#999;font-size:14px;}
.fileDown p a:hover{color:#99c100;text-decoration:underline;}

/*设置密码/忘记密码内容*/
.mainUp{position:relative;background-color:#f3f3f3;border-bottom: 1px solid #fff;z-index:501;box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);-moz-box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);-webkit-box-shadow: 0 1px 4px 2px rgba(0,0,0,0.1);}
.upWrap{width:1192px;margin:0 auto;background:url("images/BgUp.png") 0 0 no-repeat;}
.upWrap2{width:1192px;margin:0 auto;padding:40px 0;}
.flowPic{padding:60px 0 35px 160px;}
.flowPic .pic{width:170px;height:170px;background:url("images/flowPic.png") -179px 0 no-repeat;}
.flowPic .pic .step{padding-top:17px;color:#999;font-size:36px;font-weight:400;text-align:center;}
.flowPic .pic .cn{color:#999;font:18px "microsoft yahei";text-align:center;}
.flowPic .pic .en{color:#999;font:12px "arial";text-align:center;}
.flowPic .pic.active{background-position: 0 0;}
.flowPic .pic.active .step{padding-top:17px;color:#fff;font-size:36px;font-weight:400;text-align:center;}
.flowPic .pic.active .cn{color:#fff;font:18px "microsoft yahei";text-align:center;}
.flowPic .pic.active .en{color:#fff;font:12px "arial";text-align:center;}
.flowPic .pic.active .arrowWrap{padding-top:40px;text-align: center;}
.flowPic .pic.active .arrowWrap i{border-top-color:#fff;opacity: 0.4;filter: alpha(opacity=40)}
.flowPic .line{width:176px;height:84px;border-bottom:2px dashed #e6e6e6;}
.flowPic .line.active{border-bottom-color:#99c100;}
.downWrap{width:1192px;padding-top:40px;margin:0 auto;background: url("images/BgDown.png") 0 0 no-repeat;}
.downWrap2{width:1192px;margin:0 auto;padding-top:40px;}
.setPWTitle-cn{font:18px/18px "microsoft yahei"}
.setPWTitle-cn .name{color:#99c100;}
.setPWTitle-cn .notice{font-weight:400;font-size:14px;}
.setPWTitle-en{color:#999;}
.PWTitle-1{padding-left:464px;text-align:left;}
.PWTitle-1 .cn{font:18px/18px "microsoft yahei"}
.PWTitle-1 .en{color:#999;font:14px/16px "arial"}
.PWTitle-2{text-align: center;}
.PWTitle-2 .cn{font:14px/14px "microsoft yahei"}
.PWTitle-2 .en{color:#999;font:12px/14px "arial"}
.PWTitle-2 a{color:#99c100;}
.PWTitle-2 a:hover{text-decoration: underline;}
/*]]主体区域*/

/*弹出框[[*/
/*弹窗1-对应页面：publicGood-launch.html*/
.newpop-box {position:fixed;z-index: 9999;overflow: hidden;padding:4px;}
.newpop-box-bg {position: absolute;left:0;top:0;background: none repeat scroll 0 0 #000000;height: 100%;width: 100%;opacity: 0.2;filter: alpha(opacity=20);}
.newpop-box .pop-box-paragraph {position: relative;width:412px;padding-bottom:20px;background: none repeat scroll 0 0 #FFF;color:#666;z-index:20;}
.newpop-box .pop-box-paragraph p{padding:35px 0 45px 80px;color:#333;font:18px/24px "microsoft yahei";vertical-align: middle;}
.newpop-box .pop-box-paragraph .dialog-head{height:35px;border-top:2px solid #99c100;cursor:move;}
.newpop-box .pop-box-paragraph .dialog-head span{color:#fff;font-weight:700;line-height:34px;font-size:14px;margin-left:10px;}
.esc{display:inline-block;width:12px;height:12px;margin-right:10px;margin-top:10px;background:url(images/widget.png) -99px -202px no-repeat;}
.newpop-box .pop-box-paragraph.w450{width:450px;}
.newpop-box .pop-box-paragraph.w1092{width:1092px;}
/*]]弹出框*/
/*返回箭头[[*/
.goTop {display:block;position:fixed;bottom:86px;width:40px;height:40px;background:url("images/widget.png") -84px -94px no-repeat #fff;z-index: 10000;}
.goTop:hover{background:url("images/widget.png") 0 -94px no-repeat #99c100;}
/*]]返回箭头*/

/*登陆页*/
.loginBg{background:url("images/loginBg.png") repeat;}
.bg-pic{width:1192px;height:768px;padding-top:91px;margin: 0 auto;background:url("images/bg-pic.png") no-repeat;}
.languageChange{padding-bottom:12px;color:#a6c625;font:14px/14px "arial","microsoft yahei"; text-align: center;}
.languageChange a{color:#a6c625;}
.languageChange a:hover{color:#93b901;}
.loginBox{width:415px;height:522px;margin:0 auto;background:url("images/loginBox.png") no-repeat;}
.loginBox h1{padding-top:83px;color:#fff;font:lighter 24px/24px "microsoft yahei";text-align: center;}
.loginBox h3{padding-top:37px;color:#fff;font:lighter 30px/30px "arial";text-align: center;}
.loginBox .inputWrap{padding-bottom:4px;width:260px;margin:0 auto;border-bottom:1px solid #fff;}
.loginBox .inputWrap .ID{display:inline-block;width:28px;height:28px;background: url("images/widget.png") -82px -20px no-repeat;vertical-align: middle;}
.loginBox .inputWrap .passWord{display:inline-block;width:28px;height:30px;background: url("images/widget.png") -169px -20px no-repeat;vertical-align: middle;}
.loginBox .inputWrap input{height:28px;text-indent:1em;background:none;color:#fff;font:14px/28px "microsoft yahei";}

/*树状菜单*/
.orgTreeBg{width:199px;padding:10px 0 10px 20px;background-color:#fff;}

/*时间选择器*/
body,input,div,span,dd,dt,dl{margin: 0;padding: 0;}
.cal-close{position:absolute;right:5px;top:5px;display:block;width:15px;height:15px;font-size:0;background:url(images/calendarIcon.png) no-repeat right -13px;cursor:pointer;text-indent:-20px;}
.cal-prev,.cal-next{margin-top:90px;width:20px;height:38px;cursor:pointer;background:url(images/calendarBtn.png) no-repeat;text-indent:-30px;overflow:hidden;}
.cal-prev{float:left;margin-left:10px;}
.cal-next{float:left;margin-right:10px;background-position:-20px 0;}
.cal-container{float:left;margin:10px 7px 0;}
.calendar{float:left;position:relative;border:1px solid #cacaca;background:#fff;padding-bottom:15px;}
.calendar dl,.calendar dd{margin:0;padding:0;width:183px;font-size:12px; line-height:24px;}
.calendar dt.title-date{width:100%;background:none;border:none;color:#404040; display:block; border-bottom:1px solid #E4E4E4;font-weight:700;position:relative;}
.calendar dt{background:#555;float:left;width:25px;border-right:1px solid #6e6e6e; text-align:center;color:#fff;}
.calendar dt.last{padding-left:1px;border-right:none;}
.calendar dt.first{padding-left:1px;}
.calendar dd{clear: both;width:183px;height:139px;font-weight: 700;background:url(images/calendarFrame.png) no-repeat; margin:0;}
.prevyear{left:4px;width:9px;}
.prevmonth{ width:5px;background-position:-9px 0; left:20px;}
.nextyear{  width:9px;background-position:-19px 0; right:5px;}
.nextmonth{ width:5px;background-position:-14px 0; right:20px;}
.calendar dd a{float:left;width: 25px;height: 22px; overflow: hidden; text-decoration: none;margin: 1px 0 0 1px; text-align:center;color:#333;}
.calendar dd a.hover{background:#BBDDF4;color:#fff;}
.calendar dd a:hover{background:#f60;color:#fff;}
.calendar dd a.disabled:hover,.calendar dd a.disabled{background:#fff;color:#999;cursor:default;}
.calendar dd a.startdate{background:#06c;color:#fff;}
.calendar dd a.yuandan,
.calendar dd a.chuxi,
.calendar dd a.chunjie,
.calendar dd a.yuanxiao,
.calendar dd a.qingming,
.calendar dd a.wuyi,
.calendar dd a.duanwu,
.calendar dd a.zhongqiu,
.calendar dd a.guoqing,
.calendar dd a.today
{text-indent:-999px;background:url(images/calendarFestival.png) no-repeat;}
.calendar dd a.yuandan{background-position:0 0;}
.calendar dd a.chuxi{background-position:0 -30px;}
.calendar dd a.chunjie{background-position:0 -60px;}
.calendar dd a.yuanxiao{background-position:0 -90px;}
.calendar dd a.qingming{background-position:0 -120px;}
.calendar dd a.wuyi{background-position:0 -150px;}
.calendar dd a.duanwu{background-position:0 -180px;}
.calendar dd a.zhongqiu{background-position:0 -210px;}
.calendar dd a.guoqing{background-position:0 -240px;}
.calendar dd a.today{background-position:0 -270px;}
.calendar dd a.yuandan:hover,
.calendar dd a.yuandan:hover .select-range,
.calendar dd a.yuandan .selected,
.calendar dd a.yuandan .start-date
{background-position:-31px 0;}
.calendar dd a.chuxi:hover,
.calendar dd a.chuxi:hover .select-range,
.calendar dd a.chuxi .selected,
.calendar dd a.chuxi .start-date
{background-position:-31px -30px;}
.calendar dd a.chunjie:hover,
.calendar dd a.chunjie:hover .select-range,
.calendar dd a.chunjie .selected,
.calendar dd a.chunjie .start-date
{background-position:-31px -60px;}
.calendar dd a.yuanxiao:hover,
.calendar dd a.yuanxiao:hover .select-range,
.calendar dd a.yuanxiao .selected,
.calendar dd a.yuanxiao .start-date
{background-position:-31px -90px;}
.calendar dd a.qingming:hover,
.calendar dd a.qingming:hover .select-range,
.calendar dd a.qingming .selected,
.calendar dd a.qingming .start-date
{background-position:-31px -120px;}
.calendar dd a.wuyi:hover,
.calendar dd a.wuyi:hover .select-range,
.calendar dd a.wuyi .selected,
.calendar dd a.wuyi .start-date
{background-position:-31px -150px;}
.calendar dd a.duanwu:hover,
.calendar dd a.duanwu:hover .select-range,
.calendar dd a.duanwu .selected,
.calendar dd a.duanwu .start-date
{background-position:-31px -180px;}
.calendar dd a.zhongqiu:hover,
.calendar dd a.zhongqiu:hover .select-range,
.calendar dd a.zhongqiu .selected,
.calendar dd a.zhongqiu .start-date
{background-position:-31px -210px;}
.calendar dd a.guoqing:hover,
.calendar dd a.guoqing:hover .select-range,
.calendar dd a.guoqing .selected,
.calendar dd a.guoqing .start-date
{background-position:-31px -240px;}
.calendar dd a.today:hover,
.calendar dd a.today:hover .select-range,
.calendar dd a.today .selected,
.calendar dd a.today .start-date
{background-position:-31px -270px;}
.calendar dd a.end-date,
.cal-end dd a:hover,
.cal-end dd a.select-range:hover
{color:#FFF;background-color:#E2AD44;}
.calendar dd a.yuandan .end-date,
.cal-end dd a.yuandan:hover,
.cal-end dd a.yuandan:hover .select-range
{background-position:-62px 0;}
.calendar dd a.chuxi .end-date,
.cal-end dd a.chuxi:hover,
.cal-end dd a.chuxi:hover .select-range
{background-position:-62px -30px;}
.calendar dd a.chunjie .end-date,
.cal-end dd a.chunjie:hover,
.cal-end dd a.chunjie:hover .select-range
{background-position:-62px -60px;}
.calendar dd a.yuanxiao .end-date,
.cal-end dd a.yuanxiao:hover,
.cal-end dd a.yuanxiao:hover .select-range
{background-position:-62px -90px;}
.calendar dd a.qingming .end-date,
.cal-end dd a.qingming:hover,
.cal-end dd a.qingming:hover .select-range
{background-position:-62px -120px;}
.calendar dd a.wuyi .end-date,
.cal-end dd a.wuyi:hover,
.cal-end dd a.wuyi:hover .select-range
{background-position:-62px -150px;}
.calendar dd a.duanwu .end-date,
.cal-end dd a.duanwu:hover,
.cal-end dd a.duanwu:hover .select-range
{background-position:-62px -180px;}
.calendar dd a.zhongqiu .end-date,
.cal-end dd a.zhongqiu:hover,
.cal-end dd a.zhongqiu:hover .select-range
{background-position:-62px -210px;}
.calendar dd a.guoqing .end-date,
.cal-end dd a.guoqing:hover,
.cal-end dd a.guoqing:hover .select-range
{background-position:-62px -240px;}
.calendar dd a.today .end-date,
.cal-end dd a.today:hover,
.cal-end dd a.today:hover .select-range
{background-position:-62px -270px;}
.calendar dd a.select-range{background-color:#D9F2FF;}
.calendar dd a.yuandan .select-range{background-position:-93px 0;}
.calendar dd a.chuxi .select-range{background-position:-93px -30px;}
.calendar dd a.chunjie .select-range{background-position:-93px -60px;}
.calendar dd a.yuanxiao .select-range{background-position:-93px -90px;}
.calendar dd a.qingming .select-range{background-position:-93px -120px;}
.calendar dd a.wuyi .select-range{background-position:-93px -150px;}
.calendar dd a.duanwu .select-range{background-position:-93px -180px;}
.calendar dd a.zhongqiu .select-range{background-position:-93px -210px;}
.calendar dd a.guoqing .select-range{background-position:-93px -240px;}
.calendar dd a.today .select-range{background-position:-93px -270px;}
.cal-end dd a.hover{background-color:#BBDDF4;}
.cal-end dd a.yuandan .hover{background-position:-124px 0;}
.cal-end dd a.chuxi .hover{background-position:-124px -30px;}
.cal-end dd a.chunjie .hover{background-position:-124px -60px;}
.cal-end dd a.yuanxiao .hover{background-position:-124px -90px;}
.cal-end dd a.qingming .hover{background-position:-124px -120px;}
.cal-end dd a.wuyi .hover{background-position:-124px -150px;}
.cal-end dd a.duanwu .hover{background-position:-124px -180px;}
.cal-end dd a.zhongqiu .hover{background-position:-124px -210px;}
.cal-end dd a.guoqing .hover{background-position:-124px -240px;}
.cal-end dd a.today .hover{background-position:-124px -270px;}
.calendar-time{float:left;clear:left;margin:15px 0 0 7px;color:#333;_display:inline;}
.calendar-time strong{font-size:14px;font-weight:700;}
.calendar-time .plan{clear:left;float:left;width:184px;margin-top:15px;}
.calendar-time .plan span{float:left;width:12px;margin-top:-6px;position:relative;z-index:2;overflow:hidden;}
.calendar-time .plan .barM{float:left;position:relative;width:170px;height:3px;border:1px solid #AAA;background:#D8D8D8;font-size:0;}
.calendar-time .plan .bar{cursor:pointer;position:absolute;left:0;top:-5px;width:17px;height:13px;background:url(images/calendarIcon.png) no-repeat;}
.input{border:1px solid #ccc;padding:4px;}

/*new*/
.TitleBox{position:relative;display:block;width:190px;height:40px;padding-left:30px;background-color:#99c100;color:#fff;font:14px/40px "microsoft yahei"}
.TitleBox .sn-arrow-down{position:absolute;top:18px;right:15px;border-top-color:#fff;}
.TitleBox .sn-arrow-right{position:absolute;top:15px;right:17px;border-right-color:#fff;}


.popTb{width:100%;border-bottom:1px solid #ececec;table-layout:fixed;}
.popTb thead th{border-bottom:1px solid #ececec;color:#666;font:14px/38px "microsoft yahei";}
.popTb tbody td{color:#999;line-height:38px;text-align:center;}
.pop-title{padding-left:15px;color:#666;font:14px "microsoft yahei"}
.pop-page{padding:5px 0;border-bottom:1px solid #ececec}
.pop-radioGroup{padding-left:20px;color:#999}
.pop-radioGroup li{height:24px;line-height:24px;}
.pop-radioGroup li input{vertical-align:middle}
.pop-tArea{padding:5px;width:100%;border:1px solid #cccccc;color:#666;box-sizing:border-box;overflow:hidden;resize:none;}
.pop-tArea.h149{height:149px}

.leftWrap{float:left;width:1192px;}
.richEditWrap{float:right;width:670px;height:480px;border:1px solid #8cb000;background-color:#fff;font-size:24px;text-align:center;}